
.catalog {
	padding-bottom: 20px;

	&__row {
		margin: 0 -5px;
	}


	&__item {
		max-width: 340px;
		margin: 0 auto 16px auto;
	}

	&__filter {
		margin: 0 -15px 25px -15px;

		&_title {
			display: block;
			cursor: pointer;
			font-weight: 700;
			padding: 8px 10px;
			font-size: 1.2rem;
			line-height: 2rem;
			text-align: center;
			position: relative;
			background: #D8D8D8;
			border: 1px solid #0A0A0A;
			text-transform: uppercase;
			@include border-radius(2px);

			span {
				padding-right: 20px;
				display: inline-block;
				position: relative;

				&:before {
					top: 50%;
					right: 0;
					width: 12px;
					height: 7px;
					content: '';
					margin-top: -4px;
					position: absolute;
					display: inline-block;
					background: url("../img/icon_angle_down.svg") 0 0 no-repeat;
					@include transition(.3s);
				}
			}

			&.open {

				span {

					&:before {
						@include rotate(180deg);
						@include transition(.3s);
					}
				}
			}
		}

		&_content {
			display: none;
			width: 215px;
			margin: 0 auto;
			padding-top: 20px;
			@include transition(.3s);


			&.open {
				display: block;
			}
		}
	}
	

	&__type {
		width: 100%;
		color: #020202;
		display: block;
		cursor: pointer;
		font-weight: 600;
		padding: 10px 5px;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 12px;
		text-decoration: none;
		border: 2px solid #020202;
		@include border-radius(3px);

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: #020202;
			text-decoration: none;
		}

		&_civil {
			background: #fff;

			&:hover {
				color: #020202;
			}
		}

		&_mil {
			color: #fff;
			background: #020202;

			&:hover {
				color: #fff;
			}
		}

		&_diplomatic {
			color: #fff;
			background: #EE0606;

			&:hover {
				color: #fff;
			}
		}

		&_police {
			color: #fff;
			background: #0066FF;
			text-transform: uppercase;

			&:hover {
				color: #fff;
			}
		}
		
		&_base {
			
			&:hover{
				color: #000;
				background: #fff;
				border-color: #F8E71C;
			}
			
			&.active {
				color: #000;
				font-weight: 700;
				background: #fff;
				border-color: #F8E71C;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__row {
			width: 710px;
			margin: 0 auto;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__item {
			width: 340px;
			margin: 0 0 25px 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			width: 1020px;
			@include justify-content(flex-start);
		}

		&__item {
			margin: 0 -1px -1px 0;
		}
	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__filter {
			margin: 0;
			width: 215px;
			@include flex-shrink(0);

			&_title {
				display: none;
			}

			&_content {
				width: 100%;
				display: block;
				padding-top: 0;
				margin-bottom: 0;
			}
		}

		&__content {
			width: 1020px;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__row {
			width: 1360px;
		}

		&__content {
			width: 1360px;
		}
	}
}

.cat_nav {
	padding: 25px 0 15px 0;
	background: #fff;

	&__item {
		text-align: center;
		cursor: pointer;
		position: relative;
		
		&.active {
			
			.cat_nav__icon {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	&__icon {
		opacity: 0.5;
		height: 60px;
		width: 100%;
		@include transition(.3s);
		@include flexbox();
		@include justify-content(flex-end);
		@include flex-direction(column);

		img {
			height: auto;
			max-width: 80%;
			display: inline-block;
		}
		
		&:hover {
			opacity: 1;
			@include transition(.3s);
		}
	}

	&__wrap {

	}

	&__title {
		font-size: 1rem;
		line-height: 1.2rem;
	}

	&__slider {
		padding: 0 10px;
		margin: 0 -5px;
	}

	&__next,
	&__prev {
		top: 50%;
		z-index: 20;
		width: 10px;
		height: 17px;
		outline: none;
		cursor: pointer;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon_angle_right.svg") 0 0 no-repeat;
	}

	&__next {
		right: 0;
		@include rotate(180deg);
	}

	&__prev {
		left: 0;
	}

	.swiper-slide {
		width: 33.33%;
	}

	@media (min-width: $screen-sm-min) {

		.swiper-slide {
			width: 16.66%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__title {
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
		.swiper-slide {
			width: 12.5%;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__icon {
			height: 60px;

			img {
				max-width: 100%;
			}
		}

		.swiper-slide {

			&.cat_nav__01 {
				width: 158px;
			}

			&.cat_nav__02 {
				width: 158px;
			}

			&.cat_nav__03 {
				width: 169px;
			}

			&.cat_nav__04 {
				width: 192px;
			}

			&.cat_nav__05 {
				width: 148px;
			}

			&.cat_nav__06 {
				width: 139px;
			}

			&.cat_nav__07 {
				width: 158px;
			}

			&.cat_nav__08 {
				width: 172px;
			}

			&.cat_nav__09 {
				width: 144px;
			}

			&.cat_nav__10 {
				width: 138px;
			}

			&.cat_nav__11 {
				width: 198px;
			}

			&.cat_nav__12 {
				width: 150px;
			}
		}
	}

	@media (min-width: $screen-xxl-min) {


		&__slider {
			margin: 0 -15px;
		}

		.swiper-slide {


			&.cat_nav__01 {
				width: calc(84px + 53px);
			}

			&.cat_nav__02 {
				width: calc(84px + 53px);
		}

			&.cat_nav__03 {
				width: calc(94px + 53px);
			}

			&.cat_nav__04 {
				width: calc(116px + 53px);
			}

			&.cat_nav__05 {
				width: calc(70px + 53px);
			}

			&.cat_nav__06 {
				width: calc(70px + 53px);
			}

			&.cat_nav__07 {
				width: calc(82px + 53px);
			}

			&.cat_nav__08 {
				width: calc(98px + 53px);
			}

			&.cat_nav__09 {
				width: calc(66px + 53px);
			}

			&.cat_nav__10 {
				width: calc(58px + 53px);
			}

			&.cat_nav__11 {
				width: calc(122px + 53px);
			}

			&.cat_nav__12 {
				width: calc(76px + 53px);
			}
		}
	}
}



.goods {
	z-index: 1;
	width: 100%;
	padding: 10px;
	position: relative;
	background: #F6F6F6;
	border: 1px solid #969494;

	&__heading {
		font-size: 1.6rem;
		line-height: 1.9rem;
		@include flexbox();
		@include align-items(center);

		&_type {
			color: #000;
			width: 57px;
			height: 57px;
			display: block;
			padding: 18px 0;
			text-align: center;
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 1.9rem;
			border: 1px solid #979797;
			@include border-radius(50%);
			@include flex-shrink(0);
		}

		&_name {
			color: #000;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.9rem;
			padding-left: 14px;
			padding-right: 10px;
			@include flex-grow(1);
			
			&.text-center {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	
	&__params {
		width: 100%;
		font-size: 0;
		line-height: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #979797;
		@include flexbox();

		&_item {
			width: 50%;
			padding: 0 10px;
		}
	}

	&__price {
		width: 100%;
		font-size: 0;
		line-height: 0;
		padding-top: 10px;
		margin-bottom: 20px;
		@include flexbox();

		&_item {
			width: 50%;
			padding: 0 10px;
			white-space: nowrap;
		}

		.form_checkbox {

			span {
				font-size: 1.8rem;
				line-height: 2rem;

				strong {
					font-weight: 600;

					&:first-child {
						font-size: 1.4rem;
						margin-right: 10px;
					}
				}
			}
		}
		
		&__value {
			width: 100%;
			padding: 1px 0;
			text-align: center;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: -10px;
			
			strong {
				font-weight: 600;
			}
		}
	}

	&__image {
		height: 160px;
		padding-top: 16px;
		padding-bottom: 24px;
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
		}

		&_xs {
			width: 100px;
			display: block;
			margin: 0 auto;
		}

		&_sm {
			width: 190px;
			display: block;
			margin: 0 auto;
		}

		&_md {
			width: 270px;
			display: block;
			margin: 0 auto;
		}

		&_lg {
			width: 151px;
			display: block;
			margin: 0 auto;
		}
		
		&_medium {
			width: 160px;
			margin: 0 auto;
		}
		
		&_xl {
			margin: 0 auto;
			max-width: 292px;
		}
		
		&__product {
			height: 200px;
			padding-bottom: 20px;
			border-bottom: 1px solid #979797;
		}
	}

	&:hover {
		z-index: 10;
		background: #fff;
		@include box-shadow(2px 3px 5px rgba(0, 0, 0, 0.535949));
	}

	@media (min-width: $screen-sm-min) {
		padding: 15px 10px 20px 10px;
	}
}


.swiper-slide-active {

}



.modal_add {
	width: 320px;
	font-size: 1.6rem;
	line-height: 2.1rem;
	padding: 45px 15px 30px 15px;
	background: #ffff url("../img/modal_cart_bg.svg") 0 12px no-repeat;
	
	&__title {
		color: #040404;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 25px;
	}
	
	&__text {
		width: 220px;
		font-weight: 300;
		font-size: 1.6rem;
		text-align: center;
		line-height: 2.1rem;
		margin: 0 auto 45px auto;
	}
	
	
	.btn {
		width: 100%;
	}
	
	@media (min-width: 340px) {
		width: 340px;
		
	}
}



