.main_row {
	position: relative;
	
	@media (min-width: $screen-lg-min) {
		padding-left: 260px
	}
	
	@media (min-width: $screen-xl-min) {
		padding-left: 280px
	}
	
	@media (min-width: 1600px) {
		padding-left: 305px
	}
	
	@media (min-width: $screen-xxl-min) {
		padding-left: 297px
	}
}

.sidebar {
	display: none;
	width: 215px;
	
	&__nav {
		margin: 0;
		width: 215px;
		padding-bottom: 20px;
	}
	
	@media (min-width: $screen-lg-min) {
		top: 0;
		left: 0;
		display: block;
		position: absolute;
	}
	
	@media (min-width: $screen-xl-min) {
		width: 280px
	}
	
	@media (min-width: 1600px) {
		width: 305px
	}
	
	@media (min-width: $screen-xxl-min) {
		width: 297px
	}
}


.product {
	margin: 0 -15px;
	background: #fff;
	padding: 0 0 40px 0;
	border-top: 2px solid #020202;
	border-bottom: 2px solid #020202;
	
	&__block {
		padding: 20px 15px;
		border-bottom: 1px solid #979797;
		
		&:last-child {
			border-bottom: none;
		}
		
		&_heading {
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			margin-bottom: 25px;
		}
		
		&_row {
		
		}
		
		&_col {
			padding: 10px 0;
		}
	}
	
	&__heading {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 25px;
		@include flexbox();
		@include align-items(center);
		
		&_type {
			color: #000;
			width: 50px;
			height: 50px;
			display: block;
			padding: 15px 0;
			text-align: center;
			font-size: 1.2rem;
			font-weight: 300;
			position: relative;
			line-height: 1.8rem;
			background: #F1F1F1;
			border: 1px solid #979797;
			@include border-radius(50%);
			@include flex-shrink(0);
			
			span {
			
			}
			
			strong {
			
			}
		}
		
		&_name {
			color: #000;
			margin: 0;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			padding-left: 14px;
			padding-right: 10px;
			@include flex-grow(1);
		}
	}
	
	&__row {
	
	}
	
	&__main {
		padding-bottom: 25px;
		border-bottom: 1px solid #979797;
	}
	
	&__order {
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 10px;
		
		&_wrap {
		
		}
		
		ul {
			padding: 0;
			list-style: none;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		
			> li {
			
				&:first-child {
					width: 140px;
					@include flex-shrink(0);
				}
				
				&:last-child {
					width: 70px;
					@include flex-shrink(0);
				}
			}
		}
		
		&_label {
			font-size: 1.2rem;
			line-height: 2rem;
			font-weight: 600;
			margin: 0 0 25px 0;
		}
		
		&_item {
			margin: 0 0 25px 0;
		}
		
		&_price {
			color: #000;
			font-size: 1.6rem;
			
			strong {
				font-weight: 600;
			}
		}
		
		&_button {
			text-align: center;
		
			.btn {
				width: 240px;
			}
		}
		
		.form_checkbox {
		
			input:checked + span {
				font-weight: 600;
			}
		}
	}
	
	&__num {
		margin-bottom: 20px;
	}
	
	&__params {
		padding: 0;
		max-width: 360px;
		list-style: none;
		margin: 0 auto 20px auto;
		@include flexbox();
		@include justify-content(space-between);
	}
	
	&__edit {
		text-align: center;
		
		.btn {
			width: 190px;
		}
	}
	
	&__advantage {
		padding: 0;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin: 0 -10px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);
		
		> li {
			width: 50%;
			text-align: center;
			margin-bottom: 30px;
			
			&:nth-child(7) {
				margin-bottom: 0;
			}
			
			i {
				height: 75px;
				display: block;
			}
			
			span {
				display: block;
			}
		}
	}
	
	&__certificate {
		width: 225px;
		margin: 0 auto;
		
		&_item {
			width: 225px;
			display: block;
			margin-bottom: 40px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
		}
	}
	
	&__gallery {
		overflow: hidden;
		position: relative;
		
		&_wrap {
			width: 250px;
		}
		
		&_slider {
			overflow: visible;
		}
		
		&_item {
			display: block;
			position: relative;
			
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 99px;
				height: 98px;
				display: block;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				margin: -49px 0 0 -49px;
				background: url("../img/icon__loop_big.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	&__image {
		max-width: 474px;
		margin: 0 auto;

		a {
			display: block;
			position: relative;

			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				content: '';
				width: 80px;
				height: 79px;
				position: absolute;
				margin: -40px 0 0 -40px;
				background: url("../img/icon__loop_2.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	&__price {
		text-align: center;
		margin-bottom: 30px;

		&_label {
			color: #000;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 10px;
		}

		&_value {
			color: #000;
			font-weight: 600;
			font-size: 2.8rem;
			line-height: 3rem;

			strong {
				font-weight: 600;
			}
		}
	}

	&__count {
		margin-bottom: 24px;
		text-align: center;

		&_label {
			color: #000;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 15px;
		}

		&_input {

		}
	}
	
	@media (min-width: 567px) {
		
		&__gallery {
			
			&_wrap {
				width: 510px;
			}
			
			&_slider {
			
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		margin: 0;
		border: 2px solid #020202;
		
		&__block {
			padding: 20px 25px 35px 25px;
			
			&_heading {
				font-size: 1.6rem;
				margin-bottom: 30px;
			}
		}
		
		&__heading {
			margin-bottom: 25px;
			
			&_name {
				font-size: 1.8rem;
				line-height: 2rem;
			}
		}
		
		&__row {
			@include flexbox();
		}
		
		&__main {
			padding: 0 25px 0 0;
			border-bottom: none;
			border-right: 1px solid #979797;
			@include flex-grow(1);
		}
		
		&__order {
			width: 265px;
			padding: 0 0 0 25px;
			@include flex-shrink(0);
			
			ul {
				padding-left: 10px;
				@include justify-content(flex-start);
				
				> li {
					
					&:first-child {
						width: 120px;
						@include flex-shrink(0);
					}
					
					&:last-child {
						width: auto;
						white-space: nowrap;
						@include flex-shrink(0);
					}
				}
			}
			
			&_label {
				margin-bottom: 25px;
			}
			
			&_item {
				margin-bottom: 25px;
			}
			
			&_price {
				font-size: 2.8rem;
				line-height: 2.8rem;
			}
		}
		
		&__num {
			margin-bottom: 25px;
		}
		
		&__params {
			margin-bottom: 35px;
		}
		
		&__advantage {
		
			> li {
				width: 20%;
				
				&:nth-child(6) {
					margin-bottom: 0;
				}
			}
		}
		
		&__certificate {
			@include flexbox();
			@include justify-content(center);
			
			&_item {
				width: 225px;
				margin: 0 22px;
				@include flex-shrink(0);
			}
		}
		
		&__gallery {
			
			&_wrap {
				width: 510px;
			}
			
			&_slider {
		
			}
		}
	}
	
	@media (min-width: $screen-md-min) {

		&__heading {
			margin-bottom: 30px;
			
			&_type {
				width: 58px;
				height: 58px;
				padding: 7px 0;
				font-size: 1.6rem;
				line-height: 1.8rem;
				
				span {
					display: block;
				}
				
				strong {
					display: block;
					font-size: 26px;
					font-weight: 600;
					line-height: 24px;
				}
			}
			
			&_name {
				font-size: 2.2rem;
				line-height: 2.4rem;
				padding-left: 20px;
			}
		}
		
		&__order {
			width: 280px;
			padding-left: 30px;
		}
		
		&__advantage {
			
			> li {
				width: 14.285%;
				margin-bottom: 0;
				
				&:nth-child(6) {
					margin-bottom: 0;
				}
			}
		}
		
		&__gallery {
			
			&_wrap {
				width: auto;
			}
			
			&_slider {
				overflow: hidden;
			}
			
			&_item {
				
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {

		&__image {

			a {

				&:before {
					width: 99px;
					height: 98px;
					margin: -50px 0 0 -59px;
				}
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__heading {
			margin-bottom: 45px;
		}
		
		&__order {
		
			&_label {
				margin-bottom: 35px;
			}
			
			&_item {
				margin-bottom: 35px;
				
				&:last-child {
					margin-bottom: 60px;
				}
			}
		}
		
		&__block {
		
			&_row {
				margin: 0 -10px;
				@include flexbox();
			}
			
			&_col {
				width: 50%;
				padding: 0 10px;
			}
		}
		
		&__certificate {
			margin: 0 -7px;
			@include flexbox();
			@include justify-content(flex-start);
			
			&_item {
				margin: 0 7px;
			}
		}
	}
	
	@media (min-width: $screen-xxl-min) {
		
		&__block {
			padding: 30px 35px;
		}
		
		&__order {
			width: 439px;
			
			&_wrap {
				width: 240px;
				margin: 0 auto;
			}
		}
	}
}

