.info {
	margin: 0 -15px;
	background: #fff;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: 30px 15px 40px 15px;
	border-top: 2px solid #020202;
	border-bottom: 2px solid #020202;
	
	h2 {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;
	}
	
	h3 {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 10px;
	}
	
	&__divider {
		margin-bottom: 40px;
		border-bottom: 1px solid #979797;
	}
	
	@media (min-width: $screen-sm-min) {
		margin: 0;
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding: 40px 25px 40px 25px;
		border: 2px solid #020202;
		
		h2 {
			font-size: 2.2rem;
			line-height: 2.8rem;
			margin-bottom: 40px;
		}
		
		h3 {
			font-size: 2rem;
			line-height: 2.4rem;
			margin-bottom: 40px;
		}
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
	
	@media (min-width: $screen-xxl-min) {
		padding: 40px 100px 40px 100px;
	}
	
	@media (min-width: 1900px) {
		padding: 40px 170px 40px 170px;
	}
}


.payment {

	&__col {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #979797;
	}
	
	&__system {
		padding: 10px 0 0 0;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		
		> li {
			padding: 0 15px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		margin-bottom: 60px;
		@include flexbox();
		
		&__col {
			margin: 0;
			padding: 0;
			width: 50%;
			border-bottom: none;
			
			&:first-child {
				padding-right: 20px;
				border-right: 1px solid #979797;
			}
			
			&:last-child {
				padding-left: 20px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__col {
			
			&:first-child {
				padding-right: 30px;
			}
			
			&:last-child {
				padding-left: 30px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}

.delivery_box {
	margin-bottom: 30px;
	
	&__icon {
		color: #040404;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		margin-bottom: 20px;
	
		i {
			font-size: 0;
			line-height: 0;
			margin-bottom: 15px;
			display: inline-block;
		}
		
		span {
			display: block;
		}
	}
	
	&__text {
		padding-bottom: 20px;
		border-bottom: 1px solid #979797;
		
		h4 {
			color: #000;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 20px;
		}
		
		ul {
			padding-inline-start: 15px;
			
			li {
				margin-bottom: 10px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		@include flexbox();
		
		h4 {
			font-size: 1.4rem;
			line-height: 1.7rem;
		}
		
		&__icon {
			width: 160px;
			padding-right: 20px;
			@include flex-shrink(0);
		}
		
		&__text {
			@include flex-grow(1);
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__icon {
			width: 210px;
			padding-right: 30px;
		}
	}
}