.header {
	font-size: 0;
	z-index: 1050;
	line-height: 0;
	background: #fff;
	position: relative;
	padding-bottom: 18px;

	&__row {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__left {
		position: relative;
		padding-left: 40px;
	}

	&__right {
		@include flexbox();
		@include justify-content(flex-end);
	}

	&__toggle {
		left: 0;
		top: 10px;
		z-index: 10;
		width: 21px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;

		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 100%;
			height: 2px;
			background: #000;
			margin-top: -1px;
			position: absolute;
			display: inline-block;
		}
	}

	&__logo {
		width: 120px;
		display: block;
		cursor: pointer;
	}

	&__cart {
		width: 50px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;
		border: 1px solid #040404;
		@include border-radius(3px);

		> i {
			top: 50%;
			left: 50%;
			width: 23px;
			height: 22px;
			position: absolute;
			display: inline-block;
			margin: -11px 0 0 -11px;
		}

		> span {
			top: -6px;
			left: -6px;
			z-index: 10;
			width: 11px;
			height: 11px;
			font-size: 7px;
			line-height: 9px;
			position: absolute;
			text-align: center;
			background: #F8E71C;
			display: inline-block;
			border: 1px solid #000;
			@include border-radius(3px);
		}
		
		&_link {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			display: inline-block;
		}
	}
	
	&__contact {
		margin: 0 20px 0 0;
		padding: 0;
		display: none;
		list-style: none;
		text-align: center;

		li {
			margin: 0 8px;
		}

		&_phone {
			color: #000;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2.6rem;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		&_email {
			color: #000;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 2.2rem;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

	&__slogan {
		display: none;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.8rem;
		letter-spacing: 0.6px;

		&_tablet {
			display: none;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.8rem;
			letter-spacing: 0.6px;
		}
	}

	&__nav {
		display: none;
	}

	&__breadcrumbs {
		display: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			color: #040404;
			font-size: 1.2rem;
			line-height: 2rem;
			display: inline-block;

			&:after {
				margin: 0  6px;
				content: '→';
				display: inline-block;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {
				color: #040404;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #040404;
					text-decoration: underline;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 15px;
		padding-bottom: 25px;

		&__row {
			@include justify-content(flex-start);
			@include align-items(flex-start);
		}

		&__left {
			padding-left: 50px;
		}

		&__logo {
			width: 200px;
		}

		&__toggle {
			width: 31px;
			height: 31px;
			border-top: 3px solid #000;
			border-bottom: 3px solid #000;

			&:before {
				height: 3px;
				margin-top: -2px;
			}
		}

		&__slogan {

			&_tablet {
				padding-top: 25px;
				white-space: nowrap;
				display: inline-block;
				margin-left: 45px;
			}
		}

		&__cart {
			top: 82px;
			right: 0;
			width: 70px;
			height: 52px;
			font-size: 0;
			line-height: 0;
			position: fixed;
			background: #fff;
			margin-right: -2px;
			border-right: none;
			@include border-radius(3px 0 0 3px);

			> i {
				top: 50%;
				left: 50%;
				width: 34px;
				height: 32px;
				margin: -16px 0 0 -17px;
			}

			> span {
				top: -10px;
				left: -10px;
				z-index: 10;
				width: 20px;
				height: 20px;
				padding: 2px 0;
				font-size: 14px;
				line-height: 14px;
				position: absolute;
				text-align: center;
				background: #F8E71C;
				display: inline-block;
				border: 1px solid #000;
				@include border-radius(3px);
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 32px;

		&__row {
			@include justify-content(space-between);
		}

		&__left {
			padding: 0;
			width: 220px;
			@include flex-shrink(0);
		}

		&__right {
			padding-top: 35px;
			@include flex-shrink(0);
		}

		&__toggle {
			display: none;
		}

		&__logo {
			width: 160px;
			margin-bottom: 10px;
		}

		&__nav {
			padding-top: 20px;
			@include flex-grow(1);
			@include flexbox();
			@include justify-content(flex-end);

			> ul {
				margin: 0 20px 0 -20px;
				padding: 0;
				list-style: none;
				border: 1px solid #020202;
				@include flexbox();
				@include border-radius(2px);

				> li {
					display: inline-block;
					border-right: 1px solid #020202;

					&:last-child {
						border-right: none;
					}

					> a {
						color: #020202;
						font-weight: 600;
						font-size: 1.4rem;
						line-height: 2rem;
						padding: 16px 10px;
						text-decoration: none;
						display: inline-block;
						white-space: nowrap;

						&:hover {
							color: #fff;
							background: #020202;
							text-decoration: none;
						}
					}
					
					&.active {
					
						> a {
							color: #fff;
							background: #000;
						}
					}
				}
			}
		}

		&__contact {
			margin: 0 70px 0 0;
			display: block;

			> li {
				margin: 0;

				&:first-child {
					margin-bottom: 15px;
				}
			}
		}

		&__cart {
			top: 52px;
		}
		
		&__slogan {
			display: block;
			width: 400px;
			margin-left: 30px;

			&_tablet {
				display: none;
			}
		}
	}

	@media (min-width: 1340px) {

		&__logo {
			width: 216px;
		}

		&__contact {
			margin-right: 0;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			padding-top: 20px;
			@include justify-content(center);

			> ul {
				margin-left: 40px;

				> li {

					> a {
						padding: 16px 20px;
					}
				}
			}
		}


		&__slogan {
			width: 160px;
			margin-left: 65px;
		}


		&__contact {
			margin-right: 70px;
		}

		&__cart {
			width: 76px;
		}

		&__breadcrumbs {
			left: 90px;
			right: 0;
			bottom: 58px;
			position: absolute;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}
	}

	@media (min-width: 1600px) {
		

		&__contact {
			margin-right: 20px;
		}
	}

	@media (min-width: 1620px) {

		&__contact {
			margin-right: 0;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__nav {
			padding-top: 20px;
			@include justify-content(center);

			> ul {
				margin-left: 40px;

				> li {

					> a {
						padding: 16px 53px;
					}
				}
			}
		}
	}
}


.header_mobile {

	&__phone {
		color: #000;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__email {
		color: #000;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__wrap {
		height: 40px;
		background: #EEEEEE;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__slogan {
		width: 100%;
		color: #000;
		padding: 8px 0;
		font-size: 1rem;
		font-weight: 300;
		text-align: center;
		line-height: 1.1rem;
	}

	@media (min-width: $screen-sm-min) {

		&__phone {
			font-size: 1.6rem;
			line-height: 2rem;
		}

		&__email {
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&__wrap {
			height: 45px;
		}

		&__slogan {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {
		display: none;

		&__slogan {
			display: none;
		}
	}
}

.nav_mobile {
	top: 0;
	left: 0;
	opacity: 0;
	width: 180px;
	height: 100vh;
	z-index: 1200;
	position: fixed;
	background: #fff;
	overflow-y: auto;
	padding: 12px 10px;
	visibility: hidden;
	@include border-radius(0 3px 3px 0);
	@include box-shadow(3px 2px 4px rgba(0, 0, 0, 0.5));

	&__layout {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100vh;
		z-index: 1150;
		display: block;
		position: absolute;
		visibility: hidden;
		background: rgba(33, 33, 33, 0.3);
	}

	&__close {
		top: 12px;
		right: 10px;
		width: 14px;
		height: 14px;
		z-index: 100;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 14px;
			height: 2px;
			background: #000;
			position: absolute;
			margin: -1px 0 0 -7px;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__logo {
		width: 85px;
		display: block;
		margin-bottom: 14px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			border-bottom: 1px solid #000;

			&:first-child {
				border-top: 1px solid #000;
			}

			> a {
				color: #000;
				padding: 7px 8px;
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
			}
		}
	}
}


.page {

	&.nav_open {
		height: 100vh;

		.nav_mobile {
			opacity: 1;
			visibility: visible;
		}

		.nav_mobile__layout {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: auto;

		.nav_mobile {
			opacity: 0;
			display: none;
			visibility: hidden;
		}

		.nav_mobile__layout {
			opacity: 0;
			display: none;
			visibility: hidden;
		}
	}
}


.mini_cart {
	top: calc(100% + 2px);
	width: 300px;
	right: -10px;
	z-index: 500;
	padding: 0 3px;
	display: block;
	background: #fff;
	position: absolute;
	font-size: 1rem;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	line-height: 1.2rem;
	@include transition(.3s);
	@include border-radius(3px);
	@include box-shadow(3px 2px 8px rgba(0, 0, 0, 0.4));
	
	&__close {
		top: 13px;
		right: 10px;
		width: 10px;
		height: 10px;
		z-index: 100;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__close_cart.svg") 50% 50% no-repeat;
	}
	
	
	&__heading {
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #979797;
		
		strong {
			display: block;
			font-size: 1.2rem;
			line-height: 1.4rem;
			margin-bottom: 5px;
		}
	}
	
	&__footer {
		padding: 12px 10px;
		text-align: center;
	}
	
	&__item {
		margin: 0;
		list-style: none;
		padding: 11px 10px;
		border-bottom: 1px solid #979797;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		> li {
			
			&:first-child {
				@include flex-grow(1);
			}
			
			&:last-child {
				width: 70px;
				font-size: 1.6rem;
				line-height: 2rem;
				white-space: nowrap;
				text-align: right;
				@include flex-shrink(0);
			}
		}
	}
	
	
	&__name {
		font-size: 1rem;
		line-height: 1.2rem;
		margin-bottom: 10px;
		@include flexbox();
		@include align-items(center);
		
		a {
			color: #000;
			font-weight: 600;
			padding-left: 6px;
			text-align: left;
			display: inline-block;
			text-decoration: none;
			
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
	
	&__icon {
		width: 33px;
		height: 33px;
		color: #000;
		padding: 6px 0;
		font-size: 0.9rem;
		line-height: 1.9rem;
		text-align: center;
		background: #F1F1F1;
		display: inline-block;
		border: 1px solid #979797;
		@include flex-shrink(0);
		@include border-radius(50%);
	}
	
	&__image {
		font-size: 0;
		line-height: 0;
		display: inline-block;
		
		&_small {
			margin-left: 35px;
		}
	}
	
	&.open {
		opacity: 1;
		visibility: visible;
		@include transition(.3s);
	}
	
	@media (min-width: $screen-sm-min) {
		right: 2px;
		width: 320px;
		
	}
}
