.footer {
	color: #000;
	font-size: 1.2rem;
	line-height: 1.6rem;
	background: #fff;

	.container {
		position: relative;
	}

	&__row {
		padding: 25px 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	&__text {
		width: 70%;
		@include order(2);
	}

	&__nav {
		width: 100%;
		margin-bottom: 20px;
		@include order(1);

		> ul {
			padding: 0;
			margin: 0;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				width: 30%;

				> a {
					color: #000;
					padding: 5px;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: #000;
						text-decoration: underline;
					}
				}

				&:nth-child(1) {
					width: 70%;
					@include order(1);
				}

				&:nth-child(2) {
					width: 70%;
					@include order(3);
				}

				&:nth-child(3) {
					@include order(2);
				}

				&:nth-child(4) {
					@include order(4);
				}

				&:nth-child(5) {
					width: 100%;
					padding-left: 70%;
					@include order(5);
				}
			}
		}
	}

	&__dev {
		width: 30%;
		white-space: nowrap;
		@include order(3);

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;

		&__row {
			padding-top: 30px;
			padding-bottom: 40px;
		}

		&__text {
			width: auto;
		}

		&__nav {
			margin-bottom: 40px;

			> ul {
				@include flex-wrap(nowrap);

				> li {
					width: auto;

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5) {
						width: auto;
					}

					&:nth-child(5) {
						padding-left: 0;
					}
				}
			}
		}

		&__dev {
			width: auto;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			padding-top: 80px;
			@include align-items(flex-start);
			@include flex-wrap(nowrap);
		}

		&__text {
			width: 280px;
			@include order(1);
			@include flex-shrink(0);
		}

		&__nav {
			@include order(2);
		}

		&__dev {
			text-align: right;
			width: 250px;
			@include order(3);
			@include flex-shrink(0);
		}
	}
}

.btn_top {
	top: -80px;
	right: 15px;
	font-size: 0;
	line-height: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	display: inline-block;
	background: url("../img/icon_up.svg") 50% 50% no-repeat;
	background-size: cover;
	@include transition(0.3s);

	&:hover {
		opacity: 0.7;

	}
}