.about {
	
	&__image {
		width: 160px;
		margin: 0 auto 40px auto;
	}
	
	&__text {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		
		h3 {
			max-width: 360px;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			padding-top: 10px;
			text-align: center;
			margin: 0 auto 10px auto;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		&__image {
			margin-bottom: 45px;
		}
		
		&__text {
			
			h3 {
				padding-top: 20px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__image {
			width: 300px;
			margin-bottom: 45px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		@include flexbox();
		
		&__image {
			width: 360px;
			padding-top: 60px;
			@include flex-shrink(0);
		}
		
		&__text {
			padding-left: 60px;
			@include flex-grow(1);
			
			h3 {
				font-size: 2rem;
				padding-top: 10px;
				max-width: inherit;
				line-height: 2.4rem;
				margin-bottom: 20px;
				text-align: left;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		padding-left: 90px;
		
		
		&__image {
			width: 419px;
		}
		
		&__text {
			padding-left: 120px;
		}
	}
	
	@media (min-width: $screen-xxl-min) {
		padding-left: 170px;
		
		&__text {
			padding-left: 208px;
		}
	}
}

.about_gallery {
	
	&__heading {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.6rem;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 20px;
	}
	
	&__wrap {
		width: 250px;
	}
	
	&__slider {
		overflow: visible;
	}
	
	&__item {
		font-size: 0;
		line-height: 0;
		display: block;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		
		
		&:before {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 20;
			content: '';
			width: 100%;
			height: 100%;
			visibility: hidden;
			position: absolute;
			background: rgba(0,0,0,0.3) url("../img/icon__loop_big.svg") 50% 50% no-repeat;
			@include transition(0.4s);
		}
		
		&:hover {
			text-decoration: none;
			
			&:before {
				opacity: 1;
				visibility: visible;
				@include transition(0.4s);
			}
		}
	}
	
	@media (min-width: 576px) {
		
		&__wrap {
			width: 500px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
		
		&__heading {
			font-size: 2.2rem;
			line-height: 2.6rem;
			margin-bottom: 50px;
		}
		
		&__wrap {
			width: 100%;
		}
		
		&__slider {
			overflow: hidden;
		}
	}
	
	@media (min-width: $screen-lg-min) {}
	
	@media (min-width: $screen-xl-min) {}
	
	@media (min-width: $screen-xxl-min) {}
}