.checkout_heading {
	color: #000;
	font-weight: 300;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.9rem;
	margin-bottom: 20px;

	h1 {
		color: #000;
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 2.8rem;
		margin-bottom: 30px;
	}

	p {
		margin: 0;
		padding: 0;
	}

	@media (min-width: $screen-sm-min) {
		text-align: left;
	}

	@media (min-width: $screen-xl-min) {
		padding-left: 65px;
	}
}


.checkout {
	margin: 0 -15px;

	&__block {
		background: #fff;
		border-top: 2px solid #020202;
		border-bottom: 2px solid #020202;
	}

	&__user {

	}

	&__group {
		padding: 20px 15px;
	}

	&__accept {
		text-align: center;
		padding: 15px 15px 30px 15px;
	}

	&__consent {
		background: #fff;
		padding: 24px 15px;

		.form_checkbox {

			span {
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0;
		background: transparent;

		&__block {
			background: #fff;
			border: 2px solid #020202;
			@include border-radius(3px);
		}


		&__group {
			padding: 30px 30px;
		}

		&__accept {
			padding: 30px 15px 30px 15px;
		}

		&__consent {
			padding: 25px 0 40px 0;
			background: transparent;
			@include flexbox();
			@include justify-content(flex-end);

			&_wrap {
				width: 430px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__group {
			padding: 30px 40px;
		}

		&__accept {
			text-align: right;
			padding: 30px 0 30px 0;
		}
	}
}


.purchaser_type {
	margin: 0;
	list-style: none;
	padding: 35px 15px 0 25px;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		padding: 0 20px;
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 20px;
		border-bottom: 1px solid #979797;

		> li {
			margin: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 25px 10px;
	}
}

.purchaser_private {

	&__form {
		border-bottom: 1px solid #979797;
	}

	&__docs {
		padding-top: 15px;
		font-size: 1.4rem;
		line-height: 1.6rem;

		h4 {
			max-width: 200px;
			font-weight: 700;
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.6rem;
			margin: 0 auto 25px auto;
		}

		p {
			font-weight: 300;
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.6rem;
			margin-bottom: 12px;
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin-bottom: 35px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		small {
			display: block;
			padding-top: 40px;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: 12px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__docs {

			h4 {
				width: auto;
				text-align: left;
				max-width: inherit;
			}

			p {
				text-align: left;
				margin-bottom: 40px;
			}

			> ul {
				@include flexbox();

				li {
					margin: 0;
					width: 50%;

					&:first-child {
						padding-right: 25px;
						border-right: 1px solid #979797;
					}

					&:last-child {
						padding-left: 25px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__form {
			padding-top: 10px;
			padding-left: 60px;
			border-bottom: none;
			@include order(2);
			@include flex-grow(1);

			.form_group {
				margin-bottom: 38px;
			}
		}

		&__docs {
			width: 660px;
			padding-top: 0;
			@include order(1);
			@include flex-shrink(0);
		}
	}
}

.purchaser_corp {

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__left {
			padding-right: 60px;
			@include flex-grow(1);
		}

		&__right {
			width: 600px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();


		&__right {
			width: 760px;
			@include flex-shrink(0);
		}
	}
}

.purchaser_tab {
	display: none;

	&.active {
		display: block;
	}
}

.docs {
	font-size: 0;
	line-height: 0;
	display: block;
	font-weight: 400;
	border: 2px dotted #979797;
	padding: 14px 12px 15px 12px;
	@include border-radius(3px);

	&__row {
		margin-bottom: 12px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__passport {
		width: 107px;
	}

	&__license {
		width: 75px;
	}

	&__text {
		color: #5A5A59;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2rem;
	}

	&__upload {
		font-size: 0;
		line-height: 0;
		font-weight: 300;
		display: inline-block;
		position: relative;

		input {
			display: none;
		}

		span {
			color: #000;
			cursor: pointer;
			font-size: 1.4rem;
			line-height: 2rem;
			position: relative;
			padding-left: 25px;
			display: inline-block;
			background: url("../img/icon__image.svg") 0 50% no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 0;
		border: none;

		&__row {
			margin-bottom: 30px;
		}
	}
}

.delivery_type {
	margin: 0 0 35px 0;
	padding: 0;
	list-style: none;
	@include flexbox();
	@include justify-content(space-between);

	> li {

	}

	@media (min-width: $screen-sm-min) {
		@include justify-content(flex-start);

		> li {

			&:first-child {
				margin-right: 55px;
			}
		}
	}
}

.delivery {
	display: none;

	&.active {
		display: block;
	}

	h4 {
		font-weight: 700;
		font-size: 1.4rem;
		text-align: center;
		line-height: 1.6rem;
		margin: 0 auto 15px auto;
	}

	&__form {
		padding: 0;
		margin: 0 -14px 30px -14px;
		list-style: none;

		> li {
			padding: 0 14px;
			margin-bottom: 20px;
		}
	}

	&__table {
		width: 100%;
		border-collapse: collapse;

		th {
			padding: 15px 5px;
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 1.5rem;
			text-align: left;
		}

		td {
			padding: 15px 5px;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.6rem;
			border-bottom: 1px solid #979797;
		}
	}

	&__place {
		color: #000;
		position: relative;
		text-decoration: none;
		display: inline-block;

		i {
			top: 4px;
			width: 14px;
			height: 15px;
			margin-left: 5px;
			display: inline-block;
			position: relative;
		}
	}

	&__summary {
		margin-bottom: 10px;
		padding-top: 30px;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: right;
	}

	&__price {
		color: #000;
		font-size: 1.2rem;
		line-height: 2rem;
		display: block;
		text-align: center;
		white-space: nowrap;

		span,
		strong {
			font-size: 1.4rem;
		}
	}
	
	&__pickup {
		color: #000;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.6rem;
		margin-bottom: 50px;
		
		&_title {
			color: #020202;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: 35px;
		}
		
		&_text {
	
		}
	}
	
	&__total {
		margin-bottom: 10px;
		padding-top: 30px;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.6rem;
		
		&_price {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 5px;
			
			span {
				margin-right: 10px;
			}
		}
		
		&_nds {
		
		}
	}


	@media (min-width: $screen-sm-min) {

		h4 {
			text-align: left;
			margin-bottom: 20px;
		}

		&__form {
			margin-bottom: 40px;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				margin-bottom: 0;

				&:nth-child(1) {
					width: 35%;
				}

				&:nth-child(2) {
					width: 30%;
				}

				&:nth-child(3) {
					width: 35%;
				}
			}
		}

		&__table {

			th {
				background: #EEE;
				font-size: 1.4rem;
				line-height: 2rem;
				padding: 15px 20px;
				border: 1px solid #979797;
			}

			td {
				font-size: 1.4rem;
				line-height: 2rem;
				padding: 15px 20px;
				border: 1px solid #979797;
			}
		}

		&__price {
			font-size: 1.8rem;

			span,
			strong {
				font-size: 2rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__form {

			> li {

				&:nth-child(1) {
					width: 40%;
				}

				&:nth-child(2) {
					width: 20%;
				}

				&:nth-child(3) {
					width: 40%;
				}
			}
		}
	}
}

.cart {
	padding: 0 15px;

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;

		&:last-child {

			> li {

				&:nth-child(4) {
					border-bottom-color: transparent;
				}

			}
		}

		> li {
			padding: 10px 0 24px 0;
			border-bottom: 1px solid #979797;

			&:nth-child(4) {
			}

			&:nth-child(5) {
				display: none;
			}
		}


		&_heading {
			display: none;

			> li {
				padding: 18px 10px !important;
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 2rem;
				text-align: center;
				border-bottom: 1px solid #979797;
			}
		}
	}

	&__heading {
		text-align: center;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 15px;
	}

	&__auto {
		font-size: 0;
		line-height: 0;
		margin-bottom: 15px;
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 50px;
			height: 50px;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 2rem;
			padding: 14px 2px;
			text-align: center;
			background: #F1F1F1;
			position: relative;
			display: inline-block;
			border: 1px solid #979797;
			@include border-radius(50%);
			@include flex-shrink(0);

			strong {
				font-weight: 700;
			}
		}

		&_text {
			color: #000;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			padding-left: 10px;
			display: inline-block;
		}
	}

	&__params {
		padding: 0;
		font-size: 1.4rem;
		line-height: 2rem;
		list-style: none;
		margin: 0 0 15px 0;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__number {
		font-size: 0;
		line-height: 0;
		max-width: 400px;
		margin: 0 auto 20px auto;

		&_wrap {
	//		display: inline-block;
		}
	}

	&__btn {
		@include flexbox();
		@include justify-content(space-between);
		
		&_single {
			@include justify-content(center);
		}

		.btn {

			&:first-child {
				margin-right: 5px;
			}
		}
	}

	&__amount {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);
	}

	h4 {
		color: #000;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
		text-align: center;
		margin-bottom: 12px;
	}


	&__docs {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			margin-bottom: 30px;
		}
	}

	&__upload {
		color: #000;
		cursor: pointer;
		display: block;
		text-align: center;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.6rem;
		border: 2px dotted #979797;
		padding: 8px 15px 11px 15px;
		@include border-radius(3px);


		input {
			display: none;
		}

		strong {
			display: block;
			font-weight: 300;
			margin-bottom: 15px;
		}

		span {
			padding-left: 25px;
			display: inline-block;
			background: url("../img/icon__image.svg") 0 50% no-repeat;
		}

		&_text {
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-align: center;
		}

		&:hover {

			span {
				color: #D88F02;
			}
		}
	}

	&__scan {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.6rem;
		border: 1px solid #979797;
		padding: 8px 10px 10px 10px;
		@include border-radius(3px);

		&_text {
			text-align: center;
		}

		&_item {
			width: 120px;
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		&_image {
			display: block;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				content: '';
				width: 49px;
				height: 49px;
				display: block;
				position: absolute;
				margin: -25px 0 0 -24px;
				background: url("../img/icon__loop.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_upload {
			color: #020202;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;

			input {
				display: none;
			}

			&:hover {
				color: #D88F02;
			}
		}

		&_side {
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: 10px;
		}
	}

	&__price {
		color: #000;
		font-size: 1.8rem;
		line-height: 2rem;
		display: block;
		text-align: center;

		span,
		strong {
			font-size: 2rem;
		}
	}


	@media (min-width: $screen-sm-min) {

		&__params {
			padding: 0 20px;
		}

		&__docs {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();


			> li {
				width: 50%;
				margin-bottom: 30px;

				&:first-child {
					padding-right: 20px;
				}

				&:last-child {
					padding-left: 20px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
		padding: 0;

		&__row {
			@include flexbox();

			&:last-child {

				> li {

					&:nth-child(4) {
						border-bottom-color: #979797;
					}

				}
			}


			> li {
				padding: 8px 15px 16px 15px;
				border-right: 1px solid #979797;
				border-bottom: 1px solid #979797;
				@include flex-grow(1);

				&:nth-child(1) {
					width:360px;
					max-width: 360px;
					@include flex-shrink(0);
				}

				&:nth-child(2) {
					width:106px;
					max-width: 106px;
					@include flexbox();
					@include flex-shrink(0);
					@include flex-direction(column);
				}

				&:nth-child(3) {
					padding-top: 25px;
				}

				&:nth-child(4) {
					width:130px;

					max-width: 130px;
					border-bottom: 1px solid #979797;
					@include flexbox();
					@include flex-shrink(0);
					@include flex-direction(column);
				}

				&:nth-child(5) {
					width:130px;
					max-width: 130px;
					border-right: none;
					@include flexbox();
					@include flex-shrink(0);
					@include flex-direction(column);
				}
			}

			&_heading {
				@include flexbox();
			}
		}

		&__heading {
			display: none;
		}

		&__number {
			max-width: inherit;
		}

		h4 {
			text-align: left;
			padding-left: 15px;
		}

		&__source {
			margin: auto 0;
		}

		&__amount {
			margin: auto 0;
			padding: 0;
			list-style: none;
			display: block;
			text-align: center;

			li {
				padding: 10px 0;
			}
		}

		&__btn {
			@include justify-content(center);

			.btn {

				&:first-child {
					margin-right: 0;
				}
			}

			.btn_del {
				display: none;
			}
		}

		&__upload {
			color: #000;
			cursor: pointer;
			display: block;
			text-align: left;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.6rem;
			border: none;
			padding: 8px 15px 0 15px;
			@include border-radius(3px);

			&_text {
				font-weight: 300;
				font-size: 1.2rem;
				line-height: 1.6rem;
				text-align: left;
				padding-left: 15px;
			}

			&:hover {

				span {
					color: #D88F02;
				}
			}
		}

		&__scan {
			border: none;
			padding: 8px 10px 0 15px;


			&_text {
				text-align: left;
			}

			&_item {
				margin: 0;
				width: 120px;
				display: block;
				text-align: center;
			}


			&_image {
				display: block;
				position: relative;
				margin-bottom: 10px;

				&:before {
					top: 50%;
					left: 50%;
					z-index: 10;
					content: '';
					width: 49px;
					height: 49px;
					display: block;
					position: absolute;
					margin: -25px 0 0 -24px;
					background: url("../img/icon__loop.svg") 50% 50% no-repeat;
					background-size: cover;
				}
			}

			&_upload {
				color: #020202;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;

				input {
					display: none;
				}

				&:hover {
					color: #D88F02;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {

			> li {

				&:nth-child(1) {
					width: 436px;
					max-width: 436px;
				}

				&:nth-child(4) {
					width: 145px;
					max-width: 145px;
				}

				&:nth-child(5) {
					width: 135px;
					max-width: 135px;
					text-align: center;
				}
			}
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__row {

			> li {

				&:nth-child(1) {
					width: 480px;
					max-width: 480px;
				}

				&:nth-child(2) {
					width: 180px;
					max-width: 180px;
				}

				&:nth-child(4) {
					width: 180px;
					max-width: 180px;
				}

				&:nth-child(5) {
					width: 180px;
					max-width: 180px;
					text-align: center;
				}
			}
		}
	}
}


.docs_file {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		display: none;
	}

	&__text {
		cursor: pointer;
		min-height: 20px;
		padding-left: 30px;
		position: relative;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		background: url("../img/icon__documents.svg") 0 0 no-repeat;

		strong {
			display: block;
			font-size: 1.4rem;
			margin-bottom: 8px;
		}

		span {
			display: block;
		}
	}
}


.post_days,
.cse_days,
.postamat_days {
	padding-top: 4px;
	font-size: 1.3rem;
	line-height: 1.4rem;
	text-align: center;
}


.icon_printing {
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	display: inline-block;
	margin: -15px 0 0 -15px;
	background:  url("../img/number_printing.svg") 50% 50% no-repeat;
}


.cart_no_docs {
	height: 100%;
	color: #000;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	@include flexbox();
	@include flex-direction(column);
	
	&__wrap {
		margin: auto;
	}
	
	span {
		max-width: 360px;
		display: inline-block;
	}
}

.cart_count {
	width: 72px;
	margin: 0 auto;
	display: block;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	border: 1px solid #A1A1A1;
	@include border-radius(8px);
	
	&:before {
		top: 0;
		bottom: 0;
		width: 1px;
		right: 20px;
		content: '';
		display: block;
		position: absolute;
		background: #A1A1A1;
	}
	
	&__input {
		color: #000;
		width: 52px;
		border: none;
		height: 38px;
		outline: none;
		display: block;
		padding: 9px 5px 9px 10px;
		font-size: 1.4rem;
		line-height: 2rem;
		background: transparent;
	}
	
	
	span {
		right: 0;
		width: 20px;
		height: 19px;
		display: block;
		cursor: pointer;
		position: absolute;
		text-align: center;
		font-size: 14px;
		line-height: 15px;
		padding: 2px 0;
		background: #EEEEEE;
		
		&:hover {
			background: #ffffff;
		}
		
		&.plus {
			top: 0;
		}
		
		&.minus {
			bottom: 0;
			border-top: 1px solid #A1A1A1;
		}
	}
}

