.page {
	width: 100%;
	overflow: hidden;
	background: #EEE;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 45px;
	padding-bottom: 120px;
	@include flex-grow(1);
}

.page_heading {
	color: #040404;
	font-weight: 400;
	margin-bottom: 0;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	background: #fff;
}

.content_heading {
	padding: 10px 10px;
	text-align: center;

	h1 {
		margin: 0;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 15px 15px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 55px;
		padding-bottom: 25px;
		
		h1 {
			font-size: 2.2rem;
			line-height: 2.6rem;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
		padding-bottom: 50px;
	}
}

.content {
	margin: 0 -15px;
	background: #fff;
	padding: 20px 15px 50px 15px;
	border-top: 2px solid #020202;
	border-bottom: 2px solid #020202;
	
	@media (min-width: $screen-sm-min) {
		margin: 0;
		padding: 60px 30px 80px 30px;
		border: 2px solid #020202;
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		padding: 30px 40px 70px 30px;
	}
}


.ruble {
	display: inline !important;
	font-style: normal !important;
	font-family: $font-family-base
}

.fancybox-button--share {
	display: none !important;
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}