.num {
	margin: 0 auto;
	position: relative;
	
	input {
		margin: 0;
		width: 100%;
		outline: none;
		border: none;
		display: block;
		color: #020303;
		padding: 1px 4px;
		font-weight: 400;
		text-transform: uppercase;
		background: transparent;
		vertical-align: middle;
		@include placeholder(#ссс);
		font-family: $font-family-second;
		
		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
		
		&:-moz-placeholder {
			color: #ccc;
		}
		
		&::-moz-placeholder {
			color: #ccc;
		}
	}
	
	
	&__char {
		position: absolute;
	}
	
	&__01 {
		width: 297px;
		
		&_a {
			top: 5px;
			left: 12px;
			width: 205px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 8px;
			width: 75px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
				text-align: center;
			}
		}
	}
	
	&__02 {
		width: 167px;
		
		&_a {
			top: -6px;
			left: 25px;
			width: 40px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			right: 11px;
			top: 5px;
			width: 90px;
			
			
			input {
				height: 40px;
				font-size: 40px;
				line-height: 40px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			left: 15px;
			bottom: 6px;
			width: 70px;
			
			input {
				height: 52px;
				font-size: 52px;
				line-height: 52px;
				letter-spacing: 3px;
			}
		}
		
		&_d {
			right: 6px;
			bottom: 17px;
			width: 66px;
			
			input {
				height: 30px;
				font-size: 30px;
				line-height: 30px;
				text-align: center;
				letter-spacing: 2px;
			}
		}
	}
	
	&__03 {
		width: 297px;
		
		input {
			color: #020303;
			@include placeholder(#444);
		}

		&_a {
			top: 5px;
			left: 18px;
			width: 80px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 5px;
			left: 105px;
			width: 110px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_c {
			top: 3px;
			right: 8px;
			width: 60px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
	}
	
	&__04 {
		width: 297px;
		
		&_a {
			top: 5px;
			left: 15px;
			width: 75px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 5px;
			left: 85px;
			width: 140px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_c {
			top: 3px;
			right: 8px;
			width: 60px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
	}
	
	&__05 {
		width: 132px;
		
		&_a {
			top: 6px;
			left: 18px;
			width: 110px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 6px;
			bottom: 6px;
			width: 66px;
			
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 6px;
			width: 50px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
	
	&__06 {
		width: 132px;
		
		&_a {
			top: -5px;
			left: 6px;
			width: 65px;
			
			input {
				height: 50px;
				font-size: 50px;
				line-height: 50px;
			}
		}
		
		&_b {
			top: 5px;
			right: 4px;
			width: 56px;
			
			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			bottom: 7px;
			left: 18px;
			width: 110px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
	}
	
	&__07 {
		width: 132px;
		
		&_a {
			top: -5px;
			left: 8px;
			width: 65px;
			
			input {
				height: 50px;
				font-size: 50px;
				line-height: 50px;
			}
		}
		
		&_b {
			top: 5px;
			right: 4px;
			width: 56px;
			
			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			bottom: 7px;
			left: 6px;
			width: 70px;
	
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		&_d {
			right: 2px;
			bottom: 5px;
			width: 56px;
			
			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
	}
	
	&__08 {
		width: 165px;

		&_a {
			top: 5px;
			left: 17px;
			width: 150px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 10px;
			bottom: 6px;
			width: 75px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 17px;
			width: 58px;
			
			input {
				height: 40px;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
	
	&__09 {
		width: 297px;
		
		&_a {
			top: 5px;
			left: 57px;
			width: 170px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 8px;
			width: 60px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
	}
	
	&__10 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		input {
			@include transition(#ff0000);
		}
		
		&_a {
			top: 5px;
			left: 17px;
			width: 205px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 10px;
			width: 62px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
				text-align: center;
			}
		}
	}
	
	&__11 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 17px;
			width: 205px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 10px;
			width: 62px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
				text-align: center;
			}
		}
	}
	
	&__12 {
		width: 165px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 17px;
			width: 150px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 10px;
			bottom: 6px;
			width: 75px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 7px;
			width: 58px;
			
			input {
				height: 40px;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
	
	&__13 {
		width: 132px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 6px;
			left: 18px;
			width: 110px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 6px;
			bottom: 6px;
			width: 66px;
			
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 6px;
			width: 50px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
	
	&__14 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 17px;
			width: 105px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			left: 114px;
			width: 40px;
			
			input {
				height: 56px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		&_c {
			top: 15px;
			left: 147px;
			width: 40px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
		
		&_d {
			top: 4px;
			right: 74px;
			width: 40px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
			}
		}
		
		&_e {
			top: 3px;
			right: 10px;
			width: 62px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
				text-align: center;
			}
		}
	}
	
	&__15 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 15px;
			width: 105px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 15px;
			left: 112px;
			width: 40px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
		
		&_c {
			top: 14px;
			left: 144px;
			width: 80px;
			
			input {
				height: 44px;
				font-size: 44px;
				line-height: 44px;
			}
		}
		
		&_d {
			top: 3px;
			right: 10px;
			width: 62px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
				text-align: center;
			}
		}
	}
	
	&__16 {
		width: 132px;
		
		&_a {
			top: 7px;
			left: 13px;
			width: 34px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
		
		&_b {
			top: 6px;
			right: 2px;
			width: 78px;
			
			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			left: 10px;
			bottom: 5px;
			width: 58px;
			
			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
		
		&_d {
			right: 2px;
			bottom: 5px;
			width: 56px;

			input {
				height: 39px;
				font-size: 39px;
				line-height: 39px;
				letter-spacing: 2px;
			}
		}
	}
	
	&__17 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 25px;
			width: 40px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
			}
		}
		
		&_b {
			top: 5px;
			left: 75px;
			width: 150px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			top: 5px;
			right: 8px;
			width: 58px;
			
			input {
				height: 40px;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
	
	&__18 {
		width: 297px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 5px;
			left: 44px;
			width: 110px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 4px;
			}
		}
		
		&_b {
			top: 5px;
			left: 170px;
			width: 40px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			top: 4px;
			right: 8px;
			width: 58px;
			
			input {
				height: 40px;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
	
	&__19 {
		width: 132px;
		
		input {
			color: #fff;
		}
		
		&_a {
			top: 6px;
			left: 18px;
			width: 110px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 6px;
			bottom: 6px;
			width: 58px;
			
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
				text-align: center;
			}
		}
		
		
		&_c {
			right: 8px;
			bottom: 6px;
			width: 50px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
	
	&__20 {
		width: 297px;
		
		&_a {
			top: 5px;
			left: 57px;
			width: 170px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 8px;
			width: 60px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
	}
	
	&__21 {
		width: 165px;
		
		&_a {
			top: -5px;
			right: 12px;
			width: 70px;
			
			input {
				height: 50px;
				font-size: 50px;
				line-height: 50px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 14px;
			bottom: 7px;
			width: 85px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 4px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 14px;
			width: 50px;
			
			input {
				height: 32px;
				font-size: 32px;
				line-height: 32px;
			}
		}
	}
	
	&__22 {
		width: 132px;
		
		&_a {
			top: 6px;
			right: 4px;
			width: 80px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 6px;
			bottom: 6px;
			width: 66px;
			
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 6px;
			width: 50px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
	
	&__23 {
		width: 297px;
		
		&_a {
			top: 5px;
			left: 57px;
			width: 170px;
			
			input {
				height: 54px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			top: 3px;
			right: 8px;
			width: 60px;
			
			input {
				height: 42px;
				font-size: 42px;
				line-height: 42px;
			}
		}
	}
	
	&__24 {
		width: 165px;
		
		&_a {
			top: -5px;
			right: 12px;
			width: 70px;
			
			input {
				height: 50px;
				font-size: 50px;
				line-height: 50px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 14px;
			bottom: 7px;
			width: 85px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 4px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 14px;
			width: 50px;
			
			input {
				height: 32px;
				font-size: 32px;
				line-height: 32px;
			}
		}
	}
	
	&__25 {
		width: 132px;
		
		&_a {
			top: 6px;
			right: 4px;
			width: 80px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
				letter-spacing: 3px;
			}
		}
		
		&_b {
			left: 6px;
			bottom: 6px;
			width: 66px;
			
			input {
				height: 48px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		&_c {
			right: 8px;
			bottom: 6px;
			width: 50px;
			
			input {
				height: 38px;
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		&__01 {
			width: 360px;
			
			&_a {
				top: 5px;
				left: 14px;
				width: 246px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				top: 3px;
				right: 4px;
				width: 95px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__02 {
			width: 200px;
			
			&_a {
				top: -6px;
				left: 29px;
				width: 50px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
					letter-spacing: 0;
				}
			}
			
			&_b {
				right: 11px;
				top: 6px;
				width: 110px;
				
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
			
			&_c {
				left: 16px;
				bottom: 6px;
				width: 90px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
				}
			}
			
			
			&_d {
				right: 10px;
				bottom: 19px;
				width: 75px;
				
				input {
					height: 38px;
					font-size: 38px;
					line-height: 38px;
					text-align: center;
					letter-spacing: 2px;
				}
			}
		}
		
		&__03 {
			width: 360px;
			
			&_a {
				top: 5px;
				left: 25px;
				width: 100px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				top: 5px;
				left: 127px;
				width: 130px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_c {
				top: 3px;
				right: 7px;
				width: 75px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__04 {
			width: 360px;
			
			&_a {
				top: 7px;
				left: 20px;
				width: 88px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				top: 6px;
				left: 105px;
				width: 170px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 3px;
				}
			}
			
			&_c {
				top: 3px;
				right: 7px;
				width: 75px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__08 {
			width: 200px;
			
			&_a {
				top: 7px;
				left: 20px;
				width: 170px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 12px;
				width: 90px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 3px;
				}
			}
			
			&_c {
				right: 9px;
				bottom: 20px;
				width: 70px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
		}
		
		&__09 {
			width: 360px;
			
			&_a {
				top: 7px;
				left: 70px;
				width: 205px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			
			&_b {
				top: 3px;
				right: 7px;
				width: 75px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__10 {
			width: 360px;
			
			&_a {
				top: 5px;
				left: 20px;
				width: 246px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				top: 3px;
				right: 15px;
				width: 65px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__11 {
			width: 360px;
			
			&_a {
				top: 5px;
				left: 20px;
				width: 246px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				top: 3px;
				right: 15px;
				width: 65px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__12 {
			width: 200px;
			
			&_a {
				top: 7px;
				left: 20px;
				width: 170px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 12px;
				width: 90px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 3px;
				}
			}
			
			&_c {
				right: 9px;
				bottom: 10px;
				width: 70px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
		}
		
		&__14 {
			width: 360px;
			
			&_a {
				top: 6px;
				left: 21px;
				width: 130px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
				}
			}
			
			&_b {
				top: 5px;
				left: 140px;
				width: 46px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
				}
			}
			
			&_c {
				top: 18px;
				left: 180px;
				width: 46px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
			
			&_d {
				top: 6px;
				right: 90px;
				width: 48px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
				}
			}
			
			&_e {
				top: 3px;
				right: 18px;
				width: 65px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__15 {
			width: 360px;
			
			&_a {
				top: 6px;
				left: 18px;
				width: 130px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
				}
			}
			
			&_b {
				top: 19px;
				left: 136px;
				width: 46px;
				
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
			
			&_c {
				top: 19px;
				left: 175px;
				width: 95px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
					letter-spacing: 2px;
				}
			}
			
			&_d {
				top: 3px;
				right: 18px;
				width: 65px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__17 {
			width: 360px;
			
			&_a {
				top: 7px;
				left: 28px;
				width: 50px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			
			&_b {
				top: 7px;
				left: 90px;
				width: 180px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 3px;
				}
			}
			
			
			&_c {
				top: 5px;
				right: 4px;
				width: 72px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
		}
		
		&__18 {
			width: 360px;
			
			&_a {
				top: 5px;
				left: 54px;
				width: 140px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			
			&_b {
				top: 5px;
				left: 206px;
				width: 50px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 3px;
				}
			}
			
			
			&_c {
				top: 5px;
				right: 4px;
				width: 72px;
				
				input {
					height: 50px;
					font-size: 50px;
					line-height: 50px;
				}
			}
		}
		
		&__20 {
			width: 360px;
			
			&_a {
				top: 7px;
				left: 70px;
				width: 205px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			
			&_b {
				top: 3px;
				right: 7px;
				width: 75px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__21 {
			width: 200px;
			
			&_a {
				top: -7px;
				right: 10px;
				width: 90px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 18px;
				width: 100px;
				
				input {
					height: 46px;
					font-size: 46px;
					line-height: 46px;
					letter-spacing: 5px;
				}
			}
			
			&_c {
				right: 7px;
				bottom: 18px;
				width: 60px;
				
				input {
					height: 38px;
					font-size: 38px;
					line-height: 38px;
				}
			}
		}
		
		&__23 {
			width: 360px;
			
			&_a {
				top: 7px;
				left: 70px;
				width: 205px;
				
				input {
					height: 66px;
					font-size: 66px;
					line-height: 66px;
					letter-spacing: 4px;
				}
			}
			
			
			&_b {
				top: 3px;
				right: 7px;
				width: 75px;
				
				input {
					height: 52px;
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		
		&__24 {
			width: 200px;
			
			&_a {
				top: -7px;
				right: 10px;
				width: 90px;
				
				input {
					height: 64px;
					font-size: 64px;
					line-height: 64px;
					letter-spacing: 4px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 18px;
				width: 100px;
				
				input {
					height: 46px;
					font-size: 46px;
					line-height: 46px;
					letter-spacing: 5px;
				}
			}
			
			&_c {
				right: 7px;
				bottom: 18px;
				width: 60px;
				
				input {
					height: 38px;
					font-size: 38px;
					line-height: 38px;
				}
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__01 {
			width: 656px;
			
			&_a {
				top: 14px;
				left: 30px;
				width: 450px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 8px;
				right: 8px;
				width: 170px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__02 {
			width: 368px;
			
			&_a {
				top: -14px;
				left: 58px;
				width: 90px;
				
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 0;
				}
			}
			
			&_b {
				right: 38px;
				top: 14px;
				width: 180px;
				
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
				}
			}
			
			&_c {
				left: 36px;
				bottom: 10px;
				width: 160px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
				}
			}
			
			
			&_d {
				right: 20px;
				bottom: 35px;
				width: 136px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					text-align: center;
				}
			}
		}
		
		&__03 {
			width: 656px;
			
			&_a {
				top: 10px;
				left: 45px;
				width: 160px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 12px;
				left: 235px;
				width: 230px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				top: 8px;
				right: 20px;
				width: 125px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__04 {
			width: 656px;
			
			&_a {
				top: 12px;
				left: 38px;
				width: 160px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 10px;
				left: 195px;
				width: 295px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				top: 8px;
				right: 18px;
				width: 125px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__05 {
			width: 240px;
			
			&_a {
				top: 12px;
				left: 35px;
				width: 185px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 16px;
				width: 120px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				right: 10px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
		}
		
		&__06 {
			width: 240px;
			
			&_a {
				left: 14px;
				top: -10px;
				width: 110px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
				}
			}
			
			&_b {
				top: 8px;
				right: 14px;
				width: 90px;
				
				input {
					height: 72px;
					font-size: 72px;
					line-height: 72px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				left: 35px;
				bottom: 12px;
				width: 185px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
		}
		
		&__07 {
			width: 240px;
			
			&_a {
				left: 14px;
				top: -8px;
				width: 110px;
				
				input {
					height: 92px;
					font-size: 92px;
					line-height: 92px;
				}
			}
			
			&_b {
				top: 12px;
				right: 14px;
				width: 90px;
				
					input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				bottom: 8px;
				left: 14px;
				width: 110px;
				
				input {
					height: 92px;
					font-size: 92px;
					line-height: 92px;
				}
			}
			
			&_d {
				right: 12px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 2px;
				}
			}
		}
		
		&__08 {
			width: 363px;
			
			&_a {
				top: 12px;
				left: 42px;
				width: 290px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				bottom: 12px;
				left: 24px;
				width: 155px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				right: 18px;
				bottom: 38px;
				width: 120px;
				
				input {
					height: 88px;
					font-size: 88px;
					line-height: 88px;
				}
			}
		}
		
		&__09 {
			width: 656px;
			
			&_a {
				top: 12px;
				left: 130px;
				width: 366px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}

			&_b {
				top: 8px;
				right: 18px;
				width: 125px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__10 {
			width: 656px;
			
			&_a {
				top: 14px;
				left: 30px;
				width: 450px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 8px;
				right: 20px;
				width: 130px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__11 {
			width: 656px;
			
			&_a {
				top: 14px;
				left: 30px;
				width: 450px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 8px;
				right: 20px;
				width: 130px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__12 {
			width: 363px;
			
			&_a {
				top: 12px;
				left: 42px;
				width: 290px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				bottom: 12px;
				left: 24px;
				width: 155px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				right: 18px;
				bottom: 16px;
				width: 120px;
				
				input {
					height: 88px;
					font-size: 88px;
					line-height: 88px;
				}
			}
		}
		
		&__13 {
			width: 240px;
			
			&_a {
				top: 12px;
				left: 35px;
				width: 185px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 16px;
				width: 120px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				right: 10px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
		}
		
		&__14 {
			width: 656px;
			
			&_a {
				top: 8px;
				left: 40px;
				width: 226px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 7px;
				left: 258px;
				width: 68px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
				}
			}
			
			&_c {
				top: 34px;
				left: 330px;
				width: 68px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px
				}
			}
			
			&_d {
				top: 10px;
				right: 173px;
				width: 70px;
				
				input {
					height: 116px;
					font-size: 116px;
					line-height: 116px;
				}
			}
			
			&_e {
				top: 8px;
				right: 20px;
				width: 130px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__15 {
			width: 656px;
			
			&_a {
				top: 8px;
				left: 36px;
				width: 226px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 34px;
				left: 252px;
				width: 68px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px
				}
			}
			
			&_c {
				top: 35px;
				left: 322px;
				width: 160px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
				}
			}
			
			&_d {
				top: 8px;
				right: 20px;
				width: 130px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__16 {
			width: 240px;
			
			&_a {
				left: 25px;
				top: 13px;
				width: 60px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
			
			&_b {
				top: 12px;
				right: 14px;
				width: 130px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				bottom: 10px;
				left: 20px;
				width: 105px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
			
			&_d {
				right: 12px;
				bottom: 9px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 2px;
				}
			}
		}
		
		&__17 {
			width: 656px;
			
			
			&_a {
				top: 12px;
				left: 59px;
				width: 80px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 0;
				}
			}
			
			&_b {
				top: 12px;
				left: 171px;
				width: 300px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 3px;
				}
			}
			
			&_c {
				top: 8px;
				right: 12px;
				width: 125px;
				
				input {
					height: 92px;
					font-size: 92px;
					line-height: 92px;
				}
			}
		}
		
		&__18 {
			width: 656px;
			
			
			&_a {
				top: 10px;
				left: 100px;
				width: 260px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 10px;
				left: 380px;
				width: 80px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 3px;
				}
			}
			
			&_c {
				top: 9px;
				right: 12px;
				width: 125px;
				
				input {
					height: 92px;
					font-size: 92px;
					line-height: 92px;
				}
			}
		}
		
		&__19 {
			width: 240px;
			
			&_a {
				top: 12px;
				left: 35px;
				width: 185px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 16px;
				width: 94px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				right: 10px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
		}
		
		&__20 {
			width: 656px;
			
			&_a {
				top: 12px;
				left: 130px;
				width: 366px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 8px;
				right: 18px;
				width: 125px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__21 {
			width: 363px;
			
			&_a {
				top: -12px;
				right: 32px;
				width: 145px;
				
				input {
					height: 116px;
					font-size: 116px;
					line-height: 116px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				bottom: 12px;
				left: 34px;
				width: 180px;
				
				input {
					height: 88px;
					font-size: 88px;
					line-height: 88px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				right: 18px;
				bottom: 32px;
				width: 100px;
				
				input {
					height: 68px;
					font-size: 68px;
					line-height: 68px;
				}
			}
		}
		
		&__22 {
			width: 240px;
			
			&_a {
				top: 12px;
				right: 8px;
				width: 140px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 16px;
				width: 120px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				right: 10px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
		}
		
		&__23 {
			width: 656px;
			
			&_a {
				top: 12px;
				left: 130px;
				width: 366px;
				
				input {
					height: 120px;
					font-size: 120px;
					line-height: 120px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				top: 8px;
				right: 18px;
				width: 125px;
				
				input {
					height: 94px;
					font-size: 94px;
					line-height: 94px;
				}
			}
		}
		
		&__24 {
			width: 363px;
			
			&_a {
				top: -12px;
				right: 32px;
				width: 145px;
				
				input {
					height: 116px;
					font-size: 116px;
					line-height: 116px;
					letter-spacing: 7px;
				}
			}
			
			&_b {
				bottom: 12px;
				left: 34px;
				width: 180px;
				
				input {
					height: 88px;
					font-size: 88px;
					line-height: 88px;
					letter-spacing: 7px;
				}
			}
			
			&_c {
				right: 18px;
				bottom: 32px;
				width: 100px;
				
				input {
					height: 68px;
					font-size: 68px;
					line-height: 68px;
				}
			}
		}
		
		&__25 {
			width: 240px;
			
			&_a {
				top: 12px;
				right: 8px;
				width: 140px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
					letter-spacing: 6px;
				}
			}
			
			&_b {
				bottom: 8px;
				left: 16px;
				width: 120px;
				
				input {
					height: 90px;
					font-size: 90px;
					line-height: 90px;
					letter-spacing: 2px;
				}
			}
			
			&_c {
				right: 10px;
				bottom: 10px;
				width: 90px;
				
				input {
					height: 70px;
					font-size: 70px;
					line-height: 70px;
				}
			}
		}
	}
}




// -----


.number {
	margin: 0 auto;
	font-size: 0;
	line-height: 0;
	display: block;
	position: relative;
	
	&__type_1 {
		width: 260px;
	}
	
	&__type_2 {
		width: 170px;
	}
	
	&__type_3 {
		width: 260px;
	}
	
	&__type_4 {
		width: 260px;
	}
	
	&__type_5 {
		width: 110px;
	}
	
	&__type_6 {
		width: 110px;
	}
	
	&__type_7 {
		width: 208px;
	}
	
	&__type_8 {
		width: 208px;
	}
	
	&__type_9 {
		width: 110px;
	}
	
	&__type_10 {
		width: 110px;
	}
	
	&__type_11 {
		width: 260px;
	}
	
	&__type_12 {
		width: 260px;
	}
	
	&__type_13 {
		width: 110px;
	}
	
	&__type_14 {
		width: 260px;
	}
	
	&__type_15 {
		width: 260px;
	}

	&__type_16 {
		width: 260px;
	}
	
	&__type_17 {
		width: 260px;
	}
	
	&__type_18 {
		width: 208px;
	}
	
	&__type_19 {
		width: 166px;
	}
	
	&__type_20 {
		width: 110px;
	}
	
	&__type_21 {
		width: 110px;
	}
	
	&__type_22 {
		width: 166px;
	}
	
	&__type_23 {
		width: 260px;
	}
	
	&__type_24 {
		width: 260px;
	}
	
	&__type_25 {
		width: 260px;
	}
	
	&__type_26 {
		width: 110px;
	}
	
	@media (min-width: 567px) {
		
		&__type_1 {
			width: 400px;
		}
		
		&__type_3 {
			width: 400px;
		}
		
		&__type_4 {
			width: 400px;
		}
		
		&__type_5 {
			width: 149px;
		}
		
		&__type_6 {
			width: 149px;
		}
		
		&__type_7 {
			width: 282px;
		}
		
		&__type_8 {
			width: 282px;
		}
		
		&__type_9 {
			width: 151px;
		}
		
		&__type_10 {
			width: 149px;
		}
		
		&__type_11 {
			width: 400px;
		}
		
		&__type_12 {
			width: 400px;
		}
		
		&__type_13 {
			width: 149px;
		}
		
		&__type_14 {
			width: 400px;
		}
		
		&__type_15 {
			width: 400px;
		}
		
		&__type_16 {
			width: 400px;
		}
		
		&__type_17 {
			width: 400px;
		}
		
		&__type_18 {
			width: 282px;
		}
		
		&__type_19 {
			width: 225px;
		}
		
		&__type_20 {
			width: 149px;
		}
		
		&__type_21 {
			width: 149px;
		}
		
		&__type_22 {
			width: 225px;
		}
		
		&__type_23 {
			width: 400px;
		}
		
		&__type_24 {
			width: 400px;
		}
		
		&__type_25 {
			width: 400px;
		}
		
		&__type_26 {
			width: 149px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__type_1 {
			width: 326px;
		}
		
		&__type_3 {
			width: 326px;
		}
		
		&__type_4 {
			width: 326px;
		}
		
		&__type_7 {
			width: 242px;
		}
		
		&__type_8 {
			width: 242px;
		}
		
		&__type_11 {
			width: 326px;
		}
		
		&__type_12 {
			width: 326px;
		}

		&__type_14 {
			width: 326px;
		}
		
		&__type_15 {
			width: 326px;
		}
		
		&__type_16 {
			width: 326px;
		}
		
		&__type_17 {
			width: 326px;
		}
		
		&__type_19 {
			width: 242px;
		}
		
		&__type_22 {
			width: 242px;
		}
	
		&__type_23 {
			width: 326px;
		}
		
		&__type_24 {
			width: 326px;
		}
		
		&__type_25 {
			width: 326px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
		&__type_1 {
			width: 400px;
		}
		
		&__type_3 {
			width: 400px;
		}
		
		&__type_4 {
			width: 400px;
		}
		
		&__type_7 {
			width: 282px;
		}
		
		&__type_8 {
			width: 282px;
		}
		
		&__type_11 {
			width: 400px;
		}
		
		&__type_12 {
			width: 400px;
		}
		
		&__type_14 {
			width: 400px;
		}
		
		&__type_15 {
			width: 400px;
		}
		
		&__type_16 {
			width: 400px;
		}
		
		&__type_17 {
			width: 400px;
		}
		
		&__type_18 {
			width: 282px;
		}
		
		&__type_19 {
			width: 225px;
		}
		
		&__type_20 {
			width: 149px;
		}
		
		&__type_21 {
			width: 149px;
		}
		
		&__type_22 {
			width: 225px;
		}
		
		&__type_23 {
			width: 400px;
		}
		
		&__type_24 {
			width: 400px;
		}
		
		&__type_25 {
			width: 400px;
		}
		
		&__type_26 {
			width: 149px;
		}
	}
	
	@media (min-width: $screen-xxl-min) {
	
	}
}

.chars {
	display: block;
	position: absolute;
	
	&__type_1_1 {
		top: 3px;
		left: 12px;
		width: 176px;
		
		input {
			height: 46px;
			font-size: 44px;
			line-height: 44px;
			letter-spacing: 4px;
		}
	}
	
	&__type_1_2 {
		top: 2px;
		right: 8px;
		width: 62px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
		}
	}
	
	
	&__type_2_1 {
		top: -8px;
		left: 10px;
		width: 80px;
		
		input {
			height: 66px;
			font-size: 64px;
			line-height: 64px;
		}
	}
	
	&__type_2_2 {
		top: 6px;
		right: 4px;
		width: 70px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
		}
	}
	
	&__type_2_3 {
		bottom:  6px;
		left: 22px;
		width: 140px;
		
		input {
			height: 52px;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: 4px;
		}
	}
	
	
	&__type_3_1 {
		top: 2px;
		left: 49px;
		width: 150px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_3_2 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
		}
	}
	
	
	&__type_4_1 {
		top: 2px;
		left: 49px;
		width: 150px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_4_2 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
		}
	}
	
	
	&__type_5_1 {
		top: 5px;
		left: 40px;
		width: 70px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_5_2 {
		left: 7px;
		bottom: 5px;
		width: 60px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	&__type_5_3 {
		bottom:  4px;
		right: 2px;
		width: 46px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_6_1 {
		top: 5px;
		left: 40px;
		width: 70px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_6_2 {
		left: 7px;
		bottom: 5px;
		width: 60px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	&__type_6_3 {
		bottom:  4px;
		right: 2px;
		width: 46px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_7_1 {
		top: -10px;
		right: 15px;
		width: 88px;
		
		input {
			height: 72px;
			font-size: 70px;
			line-height: 70px;
			letter-spacing: 2px;
		}
	}
	
	&__type_7_2 {
		left: 18px;
		bottom: 7px;
		width: 105px;
		
		input {
			height: 52px;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: 4px;
		}
	}
	
	&__type_7_3 {
		bottom:  18px;
		right: 2px;
		width: 66px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_8_1 {
		top: -10px;
		right: 15px;
		width: 88px;
		
		input {
			height: 72px;
			font-size: 70px;
			line-height: 70px;
			letter-spacing: 2px;
		}
	}
	
	&__type_8_2 {
		left: 18px;
		bottom: 7px;
		width: 105px;
		
		input {
			height: 52px;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: 4px;
		}
	}
	
	&__type_8_3 {
		bottom:  18px;
		right: 2px;
		width: 66px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_9_1 {
		top: 4px;
		left: 12px;
		width: 98px;
		
		input {
			color: #fff !important;
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_9_2 {
		left: 14px;
		bottom: 4px;
		width: 36px;
		
		input {
			color: #fff !important;
			height: 42px;
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	&__type_9_3 {
		bottom: 5px;
		right: 4px;
		width: 48px;
		
		input {
			color: #fff !important;
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_10_1 {
		top: 4px;
		left: 12px;
		width: 98px;
		
		input {
			color: #fff !important;
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_10_2 {
		left: 5px;
		bottom: 4px;
		width: 56px;
		
		input {
			color: #fff !important;
			height: 42px;
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	&__type_10_3 {
		bottom: 5px;
		right: 4px;
		width: 48px;
		
		input {
			color: #fff !important;
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_11_1 {
		top: 2px;
		left: 38px;
		width: 100px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 4px;
			color: #fff !important;
		}
	}
	
	&__type_11_2 {
		top: 2px;
		left: 148px;
		width: 38px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			color: #fff !important;
		}
	}
	
	&__type_11_3 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	
	
	&__type_12_1 {
		top: 2px;
		left: 22px;
		width: 38px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			color: #fff !important;
		}
	}
	
	&__type_12_2 {
		top: 2px;
		left: 66px;
		width: 120px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_12_3 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	
	
	&__type_13_2 {
		top: 5px;
		right: 2px;
		width: 66px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_13_3 {
		left: 8px;
		bottom: 6px;
		width: 48px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_13_4 {
		bottom:  4px;
		right: 2px;
		width: 46px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_13_1 {
		top: 5px;
		left: 10px;
		width: 30px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	
	&__type_14_1 {
		top: 2px;
		left: 11px;
		width: 94px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_14_2 {
		top: 12px;
		left: 125px;
		width: 74px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_14_3 {
		top: 2px;
		right: 12px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	/*
	&__type_14_2 {
		top: 12px;
		left: 97px;
		width: 32px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	*/
	
	&__type_15_1 {
		top: 2px;
		left: 11px;
		width: 94px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_15_3 {
		top: 2px;
		left: 162px;
		width: 36px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_15_4 {
		top: 2px;
		right: 12px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	/*
	&__type_15_3 {
		top: 12px;
		left: 128px;
		width: 40px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	*/
	&__type_15_2 {
		top: 2px;
		left: 100px;
		width: 32px;
		
		input {
			height: 48px;
			font-size: 46px;
			line-height: 46px;
			color: #fff !important;
		}
	}
	
	
	
	&__type_16_1 {
		top: 2px;
		left: 16px;
		width: 76px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_16_2 {
		top: 2px;
		left: 90px;
		width: 120px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_16_3 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
		}
	}
	
	
	&__type_17_1 {
		top: 2px;
		left: 12px;
		width: 76px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_17_2 {
		top: 2px;
		left: 75px;
		width: 120px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_17_3 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
		}
	}
	
	
	&__type_18_1 {
		top: -10px;
		left: 33px;
		width: 44px;
		
		input {
			height: 72px;
			font-size: 70px;
			line-height: 70px;
		}
	}
	
	&__type_18_2 {
		top: 8px;
		right: 18px;
		width: 105px;
		
		input {
			height: 52px;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: 4px;
		}
	}
	
	&__type_18_3 {
		left: 20px;
		bottom: 5px;
		width: 90px;
		
		input {
			height: 68px;
			font-size: 66px;
			line-height: 66px;
			letter-spacing: 4px;
		}
	}
	
	&__type_18_4 {
		bottom:  18px;
		right: 4px;
		width: 66px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_19_1 {
		top: 4px;
		left: 18px;
		width: 142px;
		
		input {
			height: 56px;
			font-size: 54px;
			line-height: 54px;
			letter-spacing: 4px;
		}
	}
	
	&__type_19_2 {
		left: 10px;
		bottom: 4px;
		width: 75px;
		
		input {
			height: 58px;
			font-size: 56px;
			line-height: 56px;
		}
	}
	
	&__type_19_3 {
		bottom: 16px;
		right: 9px;
		width: 56px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_20_1 {
		top: 4px;
		left: 12px;
		width: 98px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_20_2 {
		left: 5px;
		bottom: 4px;
		width: 56px;
		
		input {
			height: 42px;
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	&__type_20_3 {
		bottom: 5px;
		right: 4px;
		width: 48px;
		
		input {
			height: 32px;
			font-size: 30px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_21_3 {
		bottom: 4px;
		left: 13px;
		width: 98px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 4px;
		}
	}
	
	&__type_21_1 {
		left: 5px;
		top: -6px;
		width: 56px;
		
		input {
			height: 44px;
			font-size: 42px;
			line-height: 42px;
		}
	}
	
	&__type_21_2 {
		top: 5px;
		right: 0px;
		width: 48px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 2px;
		}
	}
	
	&__type_22_1 {
		top: 4px;
		left: 18px;
		width: 142px;
		
		input {
			height: 56px;
			font-size: 54px;
			line-height: 54px;
			letter-spacing: 4px;
			color: #fff !important;
		}
	}
	
	&__type_22_2 {
		left: 10px;
		bottom: 4px;
		width: 75px;
		color: #fff !important;
		
		input {
			height: 58px;
			font-size: 56px;
			line-height: 56px;
		}
	}
	
	&__type_22_3 {
		bottom: 6px;
		right: 9px;
		width: 56px;
		
		input {
			color: #fff !important;
			height: 42px;
			font-size: 40px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
	
	
	&__type_23_1 {
		top: 2px;
		left: 20px;
		width: 180px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_23_2 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	
	
	&__type_24_1 {
		top: 2px;
		left: 20px;
		width: 180px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
			color: #fff !important;
		}
	}
	
	&__type_24_2 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
			color: #fff !important;
		}
	}
	
	
	&__type_25_1 {
		top: 2px;
		left: 49px;
		width: 150px;
		
		input {
			height: 50px;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: 2px;
		}
	}
	
	&__type_25_2 {
		top: 2px;
		right: 10px;
		width: 48px;
		
		input {
			height: 38px;
			font-size: 36px;
			line-height: 36px;
		}
	}
	
	
	&__type_26_2 {
		top: 4px;
		right: -4px;
		width: 55px;
		
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 2px;
		}
	}
	
	&__type_26_3 {
		left: 5px;
		bottom: 3px;
		width: 56px;
		
		input {
			height: 44px;
			font-size: 42px;
			line-height: 42px;
		}
	}
	
	&__type_26_4 {
		bottom: 3px;
		right: 0;
		width: 48px;
		
		input {
			height: 34px;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: 2px;
		}
	}
	
	&__type_26_1 {
		left: 5px;
		top: -5px;
		width: 56px;
		
		input {
			height: 44px;
			font-size: 42px;
			line-height: 42px;
		}
	}
	
	
	input {
		margin: 0;
		color: #000;
		width: 100%;
		outline: none;
		border: none;
		display: block;
		padding: 1px 4px;
		font-weight: 400;
		text-transform: uppercase;
		background: transparent;
		vertical-align: middle;
		@include placeholder(#ccc);
		font-family: $font-family-second;
		
		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
	}
	
	&.chars__type_16_1,
	&.chars__type_16_2,
	&.chars__type_16_3 {
		
		input {
			@include placeholder(#777);
			
			&:focus {
			
			}
		}
	}
	
	@media (min-width: 567px) {
		
		&__type_1_1 {
			top: 8px;
			left: 20px;
			width: 280px;
			
			input {
				height: 68px;
				font-size: 66px;
				line-height: 66px;
				letter-spacing: 8px;
			}
		}
		
		&__type_1_2 {
			top: 5px;
			right: 10px;
			width: 96px;
			
			input {
				height: 52px;
				font-size: 50px;
				line-height: 50px;
			}
		}
		
		
		&__type_3_1 {
			top: 4px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_3_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_4_1 {
			top: 4px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_4_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_5_1 {
			top: 6px;
			left: 54px;
			width: 93px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_5_2 {
			left: 7px;
			bottom: 5px;
			width: 70px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_5_3 {
			bottom:  4px;
			right: 2px;
			width: 66px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_6_1 {
			top: 6px;
			left: 54px;
			width: 93px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_6_2 {
			left: 7px;
			bottom: 5px;
			width: 70px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_6_3 {
			bottom:  4px;
			right: 2px;
			width: 66px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_7_1 {
			top: -10px;
			right: 18px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_7_2 {
			left: 26px;
			bottom: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_7_3 {
			bottom:  24px;
			right: 10px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 56px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_8_1 {
			top: -10px;
			right: 18px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_8_2 {
			left: 26px;
			bottom: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_8_3 {
			bottom:  24px;
			right: 10px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 56px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_9_1 {
			top: 6px;
			left: 17px;
			width: 125px;
			
			input {
				color: #fff !important;
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_9_2 {
			left: 18px;
			bottom: 6px;
			width: 46px;
			
			input {
				color: #fff !important;
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_9_3 {
			bottom: 6px;
			right: 8px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_10_1 {
			top: 6px;
			left: 17px;
			width: 125px;
			
			input {
				color: #fff !important;
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_10_2 {
			left: 7px;
			bottom: 6px;
			width: 80px;
			
			input {
				color: #fff !important;
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_10_3 {
			bottom: 6px;
			right: 8px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_11_1 {
			top: 4px;
			left: 60px;
			width: 170px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_11_2 {
			top: 4px;
			left: 230px;
			width: 50px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_11_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_12_1 {
			top: 4px;
			left: 34px;
			width: 50px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_12_2 {
			top: 4px;
			left: 100px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_12_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_13_2 {
			top: 7px;
			right: 4px;
			width: 86px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		
		&__type_13_3 {
			left: 12px;
			bottom: 7px;
			width: 64px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: 4px;
				color: #fff !important;
			}
		}
		
		&__type_13_4 {
			bottom:  6px;
			right: 4px;
			width: 60px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		
		&__type_13_1 {
			top: 7px;
			left: 14px;
			width: 40px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		
		
		&__type_14_1 {
			top: 4px;
			left: 21px;
			width: 140px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_14_2 {
			top: 21px;
			left: 196px;
			width: 100px;
			
			input {
				height: 54px;
				font-size: 52px;
				line-height: 52px;
				letter-spacing: 2px;
			}
		}
		
		&__type_14_3 {
			top: 4px;
			right: 22px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		/*
		&__type_14_2 {
			top: 19px;
			left: 150px;
			width: 50px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		*/
		
		&__type_15_1 {
			top: 4px;
			left: 21px;
			width: 140px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_15_2 {
			top: 5px;
			left: 152px;
			width: 55px;
			
			input {
				height: 70px;
				font-size: 70px;
				line-height: 70px;
			}
		}
		/*
		&__type_15_3 {
			top: 20px;
			left: 200px;
			width: 45px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		*/
		&__type_15_3 {
			top: 4px;
			left: 250px;
			width: 55px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
			}
		}
		
		&__type_15_4 {
			top: 4px;
			right: 22px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
	
		
		&__type_16_1 {
			top: 4px;
			left: 26px;
			width: 100px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_16_2 {
			top: 4px;
			left: 142px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 2px;
			}
		}
		
		&__type_16_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_17_1 {
			top: 6px;
			left: 22px;
			width: 100px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_17_2 {
			top: 6px;
			left: 117px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 2px;
			}
		}
		
		&__type_17_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_18_1 {
			top: -10px;
			left: 48px;
			width: 56px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_18_2 {
			right: 26px;
			top: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_18_3 {
			bottom:  5px;
			left: 28px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 4px;
			}
		}
		
		&__type_18_4 {
			bottom:  25px;
			right: 12px;
			width: 80px;
			
			input {
				height: 54px;
				font-size: 52px;
				line-height: 52px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_19_1 {
			top: 8px;
			left: 26px;
			width: 182px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 5px;
			}
		}
		
		&__type_19_2 {
			left: 13px;
			bottom: 4px;
			width: 100px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
			}
		}
		
		&__type_19_3 {
			bottom: 23px;
			right: 7px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_20_1 {
			top: 6px;
			left: 17px;
			width: 125px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_20_2 {
			left: 7px;
			bottom: 6px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_20_3 {
			bottom: 6px;
			right: 8px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_21_3 {
			bottom: 6px;
			left: 17px;
			width: 125px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_21_1 {
			left: 7px;
			top: -8px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_21_2 {
			top: 6px;
			right: 8px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		&__type_22_1 {
			top: 8px;
			left: 26px;
			width: 182px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 5px;
				color: #fff !important;
			}
		}
		
		&__type_22_2 {
			left: 13px;
			bottom: 4px;
			width: 100px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
				color: #fff !important;
			}
		}
		
		&__type_22_3 {
			bottom: 8px;
			right: 7px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		
		
		&__type_23_1 {
			top: 4px;
			left: 30px;
			width: 275px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_23_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_24_1 {
			top: 6px;
			left: 30px;
			width: 275px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_24_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_25_1 {
			top: 6px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_25_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_26_2 {
			top: 6px;
			right: -4px;
			width: 70px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_26_3 {
			left: 6px;
			bottom: 3px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_26_4 {
			bottom: 5px;
			right: 5px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		&__type_26_1 {
			left: 7px;
			top: -7px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__type_1_1 {
			top: 6px;
			left: 14px;
			width: 280px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 6px;
			}
		}
		
		&__type_1_2 {
			top: 3px;
			right: 10px;
			width: 80px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
			}
		}
		
		
		&__type_3_1 {
			top: 3px;
			left: 62px;
			width: 185px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_3_2 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_4_1 {
			top: 3px;
			left: 62px;
			width: 185px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_4_2 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_7_1 {
			top: -11px;
			right: 15px;
			width: 106px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
				letter-spacing: 6px;
			}
		}
		
		&__type_7_2 {
			left: 22px;
			bottom: 10px;
			width: 115px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 4px;
			}
		}
		
		&__type_7_3 {
			bottom:  22px;
			right: 10px;
			width: 70px;
			
			input {
				height: 50px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_8_1 {
			top: -11px;
			right: 15px;
			width: 106px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
				letter-spacing: 6px;
			}
		}
		
		&__type_8_2 {
			left: 22px;
			bottom: 10px;
			width: 115px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 4px;
			}
		}
		
		&__type_8_3 {
			bottom:  22px;
			right: 10px;
			width: 70px;
			
			input {
				height: 50px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_11_1 {
			top: 5px;
			left: 50px;
			width: 130px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 2px;
			}
		}
		
		&__type_11_2 {
			top: 3px;
			left: 185px;
			width: 46px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_11_3 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_12_1 {
			top: 3px;
			left: 25px;
			width: 46px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_12_2 {
			top: 5px;
			left: 85px;
			width: 150px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 2px;
			}
		}
		
		&__type_12_3 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_14_1 {
			top: 3px;
			left: 16px;
			width: 140px;
			
			input {
				height: 62px;
				font-size: 60px;
				line-height: 60px;
				letter-spacing: 4px;
			}
		}
		
		&__type_14_2 {
			top: 18px;
			left: 160px;
			width: 90px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: 2px;
			}
		}
		
		&__type_14_3 {
			top: 3px;
			right: 15px;
			width: 60px;
			
			input {
				height: 44px;
				font-size: 42px;
				line-height: 42px;
			}
		}
		/*
		&__type_14_2 {
			top: 15px;
			left: 122px;
			width: 40px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
				letter-spacing: 2px;
			}
		}
		*/
		
		&__type_15_1 {
			top: 3px;
			left: 16px;
			width: 140px;
			
			input {
				height: 62px;
				font-size: 60px;
				line-height: 60px;
				letter-spacing: 4px;
			}
		}
		
		&__type_15_2 {
			top: 1px;
			left: 123px;
			width: 44px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
			}
		}
		/*
		&__type_15_3 {
			top: 15px;
			left: 163px;
			width: 40px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
				letter-spacing: 2px;
			}
		}
		*/
		&__type_15_3 {
			top: 3px;
			left: 202px;
			width: 90px;
			
			input {
				height: 62px;
				font-size: 60px;
				line-height: 60px;
			}
		}
		
		&__type_15_4 {
			top: 4px;
			right: 15px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
			}
		}
		
		
		&__type_16_1 {
			top: 3px;
			left: 20px;
			width: 90px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_16_2 {
			top: 5px;
			left: 116px;
			width: 150px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 2px;
			}
		}
		
		&__type_16_3 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_17_1 {
			top: 3px;
			left: 17px;
			width: 90px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_17_2 {
			top: 5px;
			left: 95px;
			width: 150px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 2px;
			}
		}
		
		&__type_17_3 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_18_1 {
			top: -11px;
			left: 40px;
			width: 56px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
				letter-spacing: 6px;
			}
		}
		
		&__type_18_2 {
			right: 28px;
			top: 8px;
			width: 115px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
				letter-spacing: 4px;
			}
		}
		
		&__type_18_3 {
			bottom:  5px;
			left: 23px;
			width: 100px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
				letter-spacing: 2px;
			}
		}
		
		&__type_18_4 {
			bottom:  21px;
			right: 6px;
			width: 74px;
			
			input {
				height: 50px;
				font-size: 48px;
				line-height: 48px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_23_1 {
			top: 4px;
			left: 22px;
			width: 220px;
			
			input {
				height: 62px;
				font-size: 60px;
				line-height: 60px;
				letter-spacing: 2px;
			}
		}
		
		&__type_23_2 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_24_1 {
			top: 4px;
			left: 22px;
			width: 220px;
			
			input {
				height: 62px;
				font-size: 60px;
				line-height: 60px;
				letter-spacing: 2px;
			}
		}
		
		&__type_24_2 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}
		
		
		&__type_25_1 {
			top: 3px;
			left: 62px;
			width: 185px;
			
			input {
				height: 64px;
				font-size: 62px;
				line-height: 62px;
				letter-spacing: 2px;
			}
		}
		
		&__type_25_2 {
			top: 3px;
			right: 12px;
			width: 60px;
			
			input {
				height: 48px;
				font-size: 46px;
				line-height: 46px;
			}
		}

	}
	
	@media (min-width: $screen-xl-min) {
		
		&__type_1_1 {
			top: 8px;
			left: 20px;
			width: 280px;
			
			input {
				height: 68px;
				font-size: 66px;
				line-height: 66px;
				letter-spacing: 8px;
			}
		}
		
		&__type_1_2 {
			top: 5px;
			right: 10px;
			width: 96px;
			
			input {
				height: 52px;
				font-size: 50px;
				line-height: 50px;
			}
		}
		
		
		&__type_3_1 {
			top: 4px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_3_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_4_1 {
			top: 4px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_4_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_7_1 {
			top: -10px;
			right: 18px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_7_2 {
			left: 26px;
			bottom: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_7_3 {
			bottom:  24px;
			right: 10px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 56px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_8_1 {
			top: -10px;
			right: 18px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_8_2 {
			left: 26px;
			bottom: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_8_3 {
			bottom:  24px;
			right: 10px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 56px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_11_1 {
			top: 4px;
			left: 60px;
			width: 170px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_11_2 {
			top: 4px;
			left: 230px;
			width: 50px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_11_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_12_1 {
			top: 4px;
			left: 34px;
			width: 50px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_12_2 {
			top: 4px;
			left: 100px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_12_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_14_1 {
			top: 4px;
			left: 21px;
			width: 140px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_14_2 {
			top: 21px;
			left: 196px;
			width: 100px;
			
			input {
				height: 54px;
				font-size: 52px;
				line-height: 52px;
				letter-spacing: 2px;
			}
		}
		
		&__type_14_3 {
			top: 4px;
			right: 22px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		/*
		&__type_14_2 {
			top: 19px;
			left: 150px;
			width: 50px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
				color: #fff !important;
			}
		}
		*/
		
		&__type_15_1 {
			top: 4px;
			left: 21px;
			width: 140px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_15_2 {
			top: 6px;
			left: 152px;
			width: 55px;
			
			input {
				height: 70px;
				font-size: 68px;
				line-height: 68px;
			}
		}
		/*
		&__type_15_3 {
			top: 20px;
			left: 200px;
			width: 45px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		*/
		&__type_15_3 {
			top: 4px;
			left: 250px;
			width: 55px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
			}
		}
		
		&__type_15_4 {
			top: 4px;
			right: 22px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
	
		
		&__type_16_1 {
			top: 4px;
			left: 26px;
			width: 100px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_16_2 {
			top: 4px;
			left: 142px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 2px;
			}
		}
		
		&__type_16_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_17_1 {
			top: 6px;
			left: 22px;
			width: 100px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_17_2 {
			top: 6px;
			left: 117px;
			width: 190px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 2px;
			}
		}
		
		&__type_17_3 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_18_1 {
			top: -10px;
			left: 48px;
			width: 56px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 6px;
			}
		}
		
		&__type_18_2 {
			right: 26px;
			top: 9px;
			width: 140px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 4px;
			}
		}
		
		&__type_18_3 {
			bottom:  5px;
			left: 28px;
			width: 120px;
			
			input {
				height: 92px;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: 4px;
			}
		}
		
		&__type_18_4 {
			bottom:  25px;
			right: 12px;
			width: 80px;
			
			input {
				height: 54px;
				font-size: 52px;
				line-height: 52px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_19_1 {
			top: 8px;
			left: 26px;
			width: 182px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 5px;
			}
		}
		
		&__type_19_2 {
			left: 13px;
			bottom: 4px;
			width: 100px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
			}
		}
		
		&__type_19_3 {
			bottom: 23px;
			right: 7px;
			width: 80px;
			
			input {
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_21_3 {
			bottom: 6px;
			left: 17px;
			width: 125px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		
		&__type_21_1 {
			left: 7px;
			top: -8px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_21_2 {
			top: 6px;
			right: 8px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_22_1 {
			top: 8px;
			left: 26px;
			width: 182px;
			
			input {
				height: 72px;
				font-size: 70px;
				line-height: 70px;
				letter-spacing: 5px;
			}
		}
		
		&__type_22_2 {
			left: 13px;
			bottom: 4px;
			width: 100px;
			
			input {
				height: 82px;
				font-size: 80px;
				line-height: 80px;
			}
		}
		
		&__type_22_3 {
			bottom: 8px;
			right: 7px;
			width: 80px;
			
			input {
				color: #fff !important;
				height: 56px;
				font-size: 54px;
				line-height: 54px;
				letter-spacing: 2px;
			}
		}
		
		
		&__type_23_1 {
			top: 4px;
			left: 30px;
			width: 275px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_23_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_24_1 {
			top: 6px;
			left: 30px;
			width: 275px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_24_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		
		&__type_25_1 {
			top: 6px;
			left: 77px;
			width: 230px;
			
			input {
				height: 76px;
				font-size: 74px;
				line-height: 74px;
				letter-spacing: 4px;
			}
		}
		
		&__type_25_2 {
			top: 4px;
			right: 18px;
			width: 70px;
			
			input {
				height: 58px;
				font-size: 56px;
				line-height: 56px;
			}
		}
		
		&__type_26_2 {
			top: 6px;
			right: -4px;
			width: 70px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 4px;
			}
		}
		
		&__type_26_3 {
			left: 6px;
			bottom: 3px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
		
		&__type_26_4 {
			bottom: 5px;
			right: 5px;
			width: 60px;
			
			input {
				height: 46px;
				font-size: 44px;
				line-height: 44px;
				letter-spacing: 2px;
			}
		}
		
		&__type_26_1 {
			left: 7px;
			top: -7px;
			width: 80px;
			
			input {
				height: 60px;
				font-size: 58px;
				line-height: 58px;
			}
		}
	}
	
	@media (min-width: $screen-xxl-min) {
	
	}
}




