.contact {
	margin: 0 -15px;
	background: #fff;
	padding: 20px 15px 60px 15px;
	border-top: 2px solid #020202;
	border-bottom: 2px solid #020202;
	
	&__content {
		margin-bottom: 35px;
	}
	
	&__about {
		color: #060606;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 20px;
	}
	
	&__data {
		padding: 0;
		list-style: none;
		margin: 0 0 30px 0;
		
		> li {
			padding: 10px 0;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			border-bottom: 1px solid #979797;
			@include flexbox();
			@include align-items(center);
			
			i {
				min-width: 40px;
				display: inline-block;
				@include flex-shrink(0);
			}
			
			span {
				padding-left: 15px;
				display: inline-block;
			}
			
			a {
				color: #000;
				text-decoration: none;
				
				&:hover {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	
	&__form {
		
		&_text {
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.8rem;
			text-align: center;
			margin-bottom: 20px;
		}
		
		&_submit {
			text-align: center;
		}
	}
	
	&__subtitle {
		color: #000;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;
	}
	
	&__map {
		height: 285px;
	}
	
	@media (min-width: $screen-sm-min) {
		margin: 0;
		padding: 25px 30px 75px 30px;
		border: 2px solid #020202;
		
		&__content {
			margin-bottom: 50px;
		}
		
		&__form {
			
			.form_group {
				margin-bottom: 38px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);
		
		&__content {
			width: 400px;
			margin-bottom: 0;
		}
		
		&__subtitle {
			text-align: left;
		}
		
		&__form {
			width: 400px;
			
			&_text {
				text-align: left;
			}
			
			&_submit {
				text-align: right;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		padding: 30px 40px 70px 30px;
		
		
		&__content {
			width: auto;
			padding-right: 120px;
			@include flex-grow(1);
		}
		
		&__form {
			width: 520px;
			@include flex-shrink(0);
		}
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}


[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 3.5+ */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
}
