

<div class="number number_1">
    <div class="number__image">
        <svg class="ico-svg" viewBox="0 0 190 112" xmlns="http://www.w3.org/2000/svg"  fill="none"  width="190" height="112">
            <use xlink:href="img/sprite_icons.svg#number_1a" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
    <img src="images/num_02.svg" class="img-fluid" alt="">
    <div class="number__char number_1__01">
        <input type="text" value="" placeholder="">
    </div>
    <div class="number__char number_1__02">
        <input type="text" value="" placeholder="">
    </div>
    <div class="number__char number_1__03">
        <input type="text" value="" placeholder="">
    </div>
    <div class="number__char number_1__04">
        <input type="text" value="" placeholder="">
    </div>
</div>