
.btn {
	outline: none;
	color: #020202;
	cursor: pointer;
	padding: 9px 9px;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	background: #EEEEEE;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #979797;
	@include border-radius(5px);
	@include gradient-vertical(#EEEEEE,#BCBCBC);

	&:hover {
		color: #020202;
		background: #fff;
	}

	&:active {
		background: #eee;
	}


	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_yellow {
	border-color: #FEA706;
	@include gradient-vertical(#FAD961,#FEA706);

	&:hover {
		color: #020202;
		border-color: #FEA706;
		@include gradient-vertical(#FEA706,#FEA706);
	}

	&:active {
		@include gradient-vertical(#FAD961,#FAD961);
	}
}

.btn_white {
	background: #fff;

	&:hover {
		background: #EEEEEE;
	}

	&:active {
		background: #BCBCBC;
	}
}

.btn_md {
	font-weight: 700;
	font-size: 1.4rem;
	padding: 16px 30px;
	text-transform: uppercase;
}

.btn_del {
	font-weight: 700;
	padding: 5px 15px 3px 15px;
	font-size: 1.1rem;
	line-height: 1.4rem;
	background: transparent;
	text-transform: uppercase;

	&:hover {
		background: #EEEEEE;
	}
}

.btn_reg {
	padding-left: 30px;

	i {
		top: 50%;
		left: 9px;
		width: 15px;
		height: 15px;
		position: absolute;
		margin-top: -8px;
		display: inline-block;
	}
}

.btn_shadow {
	width: 100%;
	border: none;
	padding: 10px;
	color: #040404;
	background: #fff;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.1rem;
	text-transform: uppercase;
	@include border-radius(5px);
	@include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));

	&:hover {
		color: #fff;
		background: linear-gradient(180deg, #717171 0%, #2A2929 100%);
	}
}

.btn_sm {
	padding: 4px 20px;
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.btn_md {
	font-weight: 700;
	padding: 17px 20px 15px 20px;
	text-transform: uppercase;
}

.btn_cart {
	font-weight: 600;
	padding: 12px 9px;
	text-transform: uppercase;

	span {
		padding-right: 40px;
		position: relative;
		display: inline-block;
		
		&:before {
			top: 50%;
			right: 0;
			z-index: 10;
			width: 34px;
			height: 32px;
			content: '';
			margin-top: -16px;
			position: absolute;
			background: url("../img/icon__cart_btn.svg") 0 0 no-repeat;
		}
	}
}
