.form_control {
	margin: 0;
	color: #000;
	width: 100%;
	height: 54px;
	outline: none;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 16px 25px;
	background: #FBFAFA;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #979797;
	@include border-radius(3px);
	@include placeholder(#000);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
	
	&.error {
		color: #FF0000;
		border-color: #FF0000;
		@include placeholder(#FF0000);
	}
}

textarea.form_control {
	height: auto;
}

.form_group {
	margin-bottom: 25px;
}

.form_radio {
	font-size: 0;
	line-height: 0;
	font-weight: 300;
	display: inline-block;
	position: relative;

	input {
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		display: block;
		position: absolute;
	}

	span {
		color: #020202;
		cursor: pointer;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		padding-left: 30px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #A1A1A1;
			@include border-radius(50%);
		}

		&:after {
			top: 5px;
			left: 5px;
			z-index: 1;
			opacity: 0;
			content: '';
			width: 10px;
			height: 10px;
			background: #000;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	input:checked + span {
		color: #000;

		&:before {
			border-color: #000;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	&_md {
		font-weight: 600;

		span {
			color: #858585;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			padding-left: 35px;

			&:before {
				border-color: #858585;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		span {
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&_md {

			span {
				font-size: 2.2rem;
				line-height: 2.4rem;

				&:before {
					top: 2px;
				}

				&:after {
					top: 7px;
				}
			}
		}
	}
}


.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 300;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		visibility: hidden;
		display: block;
		position: absolute;
	}

	span {
		color: #000;
		cursor: pointer;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
		padding-left: 35px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #A1A1A1;
			@include border-radius(5px);
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			content: '';
			width: 20px;
			height: 20px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__check.svg") 50% 50% no-repeat;
		}
	}

	input:checked + span {
		color: #000;

		&:before {
			border-color: #000;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	
	&_sm {
		
		span {
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}
	
	&.error {
		
		span {
			color: #FF0000;
			
			&:before {
				border-color: #FF0000;
			}
			
			a {
				color: #FF0000;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}
}

.form_checkbox_inline {
	font-size: 0;
	line-height: 0;
	font-weight: 300;
	display: inline-block;
	position: relative;

	input {
		top: 0;
		left: 0;
		opacity: 0;
		width: 1px;
		height: 1px;
		visibility: hidden;
		display: block;
		position: absolute;
	}

	> span {
		color: #000;
		min-height: 24px;
		cursor: pointer;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.2rem;
		padding-left: 35px;
		position: relative;
		@include flexbox();
		@include flex-direction(column);

		> span {
			margin: auto 0;
			display: inline-block;
		}

		&:before {
			top: 50%;
			left: 0;
			z-index: 1;
			content: '';
			width: 20px;
			height: 20px;
			margin-top: -10px;
			position: absolute;
			display: inline-block;
			border: 1px solid #A1A1A1;
			@include border-radius(5px);
		}

		&:after {
			top: 50%;
			left: 0;
			z-index: 1;
			opacity: 0;
			content: '';
			width: 20px;
			height: 20px;
			margin-top: -10px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__check.svg") 50% 50% no-repeat;
		}
	}


	input:checked + span {
		color: #000;

		&:before {
			border-color: #000;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: $screen-sm-min) {

	}
}